.footer {
  background-color: var(--color-dark_cards);
}
.footer__top {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  padding: 5rem 0;
  border-bottom: 1px solid rgba(189, 225, 231, 0.1);
}
@media (max-width: 1439.98px) {
  .footer__top {
    padding: 4rem 0;
  }
}
@media (max-width: 1239.98px) {
  .footer__top {
    padding: 3.5rem 0 2.375rem;
  }
}
@media (max-width: 767.98px) {
  .footer__top {
    padding: 2.5rem 0;
  }
}
.footer__logo {
  position: relative;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10.25rem;
}
@media (max-width: 1439.98px) {
  .footer__logo {
    flex: 0 0 88px;
    height: 88px;
    margin-right: 15.25rem;
  }
}
@media (max-width: 1239.98px) {
  .footer__logo {
    margin-right: 10.75rem;
  }
}
@media (max-width: 1099.98px) {
  .footer__logo {
    flex: 0 0 72px;
    height: 72px;
  }
}
@media (max-width: 767.98px) {
  .footer__logo {
    flex: 0 0 64px;
    height: 64px;
  }
}
.footer__logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-right: 182px;
}
@media (max-width: 1439.98px) {
  .footer__info {
    margin-right: auto;
  }
}
.footer__info-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}
@media (max-width: 1099.98px) {
  .footer__info-item span {
    font-size: 0.875rem;
  }
}
@media (max-width: 479.98px) {
  .footer__info-item span {
    font-size: 0.75rem;
  }
}
.footer__info-item:hover span {
  text-decoration: underline;
}
.footer__info-item-icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}
@media (max-width: 767.98px) {
  .footer__info-item-icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}
.footer__info-item-icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer__action {
  padding-right: 2rem;
}
.footer__button {
  align-self: flex-start;
}
.footer__bottom {
  padding: 3.5rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1439.98px) {
  .footer__bottom {
    padding: 3rem 0 3.25rem;
  }
}
@media (max-width: 1239.98px) {
  .footer__bottom {
    padding: 4rem 0 2.875rem;
  }
}
@media (max-width: 767.98px) {
  .footer__bottom {
    padding: 2rem 0;
  }
}
@media (max-width: 1099.98px) {
  .footer__bottom-copy {
    font-size: 0.875rem;
  }
}
@media (max-width: 767.98px) {
  .footer__bottom-copy {
    font-size: 0.75rem;
  }
}
@media (min-width: 767.98px) {
  .footer__bottom-copy {
    white-space: nowrap;
  }
}
.footer__bottom-policy {
  text-decoration: underline;
}
@media (max-width: 1099.98px) {
  .footer__bottom-policy {
    font-size: 0.875rem;
  }
}
@media (max-width: 767.98px) {
  .footer__bottom-policy {
    font-size: 0.75rem;
  }
}
@media (min-width: 767.98px) {
  .footer__bottom-policy {
    white-space: nowrap;
  }
}
.footer__bottom-policy:hover {
  text-decoration: none;
}
.footer__bottom-web {
  position: relative;
  flex: 0 0 160px;
  width: 10rem;
  height: 30px;
}
.footer__bottom-web img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 1439.98px) {
  .menu-footer {
    flex: 1 1 auto;
  }
}
@media (max-width: 559.98px) {
  .menu-footer {
    width: 100%;
  }
}
.menu-footer__list {
  margin-right: 11.625rem;
}
@media (min-width: 1439.98px) {
  .menu-footer__list {
    -moz-column-gap: 8.375rem;
         column-gap: 8.375rem;
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 164px;
  }
}
@media (max-width: 1439.98px) {
  .menu-footer__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 7.6875rem;
  }
}
@media (max-width: 1239.98px) {
  .menu-footer__list {
    margin-right: 3.875rem;
  }
}
@media (max-width: 479.98px) {
  .menu-footer__list {
    width: 100%;
    margin-right: 0;
    row-gap: 0.75rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 138px;
  }
}
@media (max-width: 479.98px) {
  .menu-footer__item {
    width: 50%;
  }
}
.menu-footer__link {
  transition: color 0.3s ease;
}
@media (max-width: 1099.98px) {
  .menu-footer__link {
    font-size: 0.875rem;
  }
}
@media (max-width: 479.98px) {
  .menu-footer__link {
    font-size: 0.75rem;
  }
}
.menu-footer__link:hover {
  color: var(--color-green);
}