:root {
  --color-dark_cards: #1d2030;
  --color-dark_cards--rgb: 29, 32, 48;
  --color-green: #6bbb41;
  --color-green--rgb: 107, 187, 65;
  --color-dark_grey: #474a5a;
  --color-dark_grey--rgb: 71, 74, 90;
  --color-white_grey: #e0e3e7;
  --color-white_grey--rgb: 224, 227, 231;
  --color-white: #fff;
  --color-white--rgb: 255, 255, 255;
  --color-black-title: #222;
  --color-black-title--rgb: 34, 34, 34;
  --color-black-text: #111;
  --color-black-text--rgb: 17, 17, 17;
}

:root {
  --page-background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
  	linear-gradient(131deg, #141824 10.39%, #252838 65.55%);
  --content-width: 1552px;
  --content-padding: 0 44px 0 26px;
}
@media (max-width: 1439.98px) {
  :root {
    --content-padding: 0 42px 0 26px;
  }
}
@media (max-width: 479.98px) {
  :root {
    --content-padding: 0 14px;
  }
}

:root {
  --button-padding-x: 24px;
  --button-padding-y: 18px;
  --button-border-radius: 4px;
  --button-box-shadow: 2px 4px 25px 0px rgba(132, 192, 178, 0.2);
  --button-font-size: 16px;
  --button-text-color: var(--color-white);
  --button-gap: 8px;
  --button-hover-background-color: #81dd51;
  --button-hover-box-shadow: 2px 4px 52px 0px rgba(77, 244, 124, 0.24);
}
@media (max-width: 1099.98px) {
  :root {
    --button-padding-x: 16px;
  }
}

:root {
  --tab-padding-x: 24px;
  --tab-padding-bottom: 12px;
  --tab-text-size: 20px;
  --tab-text-weight: 500;
  --tab-text-color: var(--color-white_grey);
  --tab-hover-text-color: var(--color-green);
}

:root {
  --checkbox-width: 24px;
  --checkbox-height: 24px;
  --checkbox-border-radius: 2px;
  --checkbox-border: 1px;
  --checkbox-border-color: var(--color-dark_grey);
  --checkbox-hover-border-color: var(--color-green);
  --checkbox-hover-filter: drop-shadow(0px 0px 5px rgba(144, 255, 169, 0.25));
}

:root {
  --select-border: 1px;
  --select-border-color: var(--color-dark_grey);
  --select-hover-border-color: var(--color-green);
  --select-border-radius: 4px;
  --select-body-padding-x: 16px;
  --select-body-padding-y: 14px;
  --select-body-gap: 40px;
  --select-cell-padding-x: 16px;
  --select-cell-padding-y: 10px;
  --select-cell-background: var(--color-dark_cards);
  --select-cell-border-color: var(--color-green);
  --select-text-color: var(--color-white_grey);
  --select-text-size: 16px;
  --select-icon-color: var(--color-white_grey);
  --select-hover-icon-color: var(--color-green);
  --select-hover-color: var(--color-green);
  --select-hover-box-shadow: 0px 0px 5px 0px rgba(144, 255, 169, 0.25);
  --select-hover-cell-background: var(--color-dark_grey);
}

:root {
  --accordion-title-text-color: var(--color-white_grey);
  --accordion-title-text-size: 16px;
  --accordion-title-gap: 32px;
  --accordion-padding-x: 16px;
  --accordion-padding-bottom: 32px;
  --accordion-panel-padding-top: 24px;
  --accordion-border-color: rgba(189, 225, 231, 0.1);
  --accordion-open-title-text-color: var(--color-green);
  --accordion-open-title-text-size: 20px;
}

:root {
  --title-color: var(--color-black-title);
  --h1-size: 72px;
  --h1-weight: 800;
  --h1-line-height: 89%;
  --h2-size: 64px;
  --h1-weight: 800;
  --h1-line-height: 100%;
  --h3-size: 24px;
  --h3-weight: 500;
  --h1-line-height: normal;
  --h4-size: 20px;
  --h4-weight: 500;
  --h1-line-height: normal;
  --text-accent-color: var(--color-black-title);
  --text-accent-size: 18px;
  --text-accent-weight: 700;
  --text-body-color: var(--color-black-text);
  --text-body-size: 16px;
  --text-body-mini-size: 14px;
  --text-body-weight: 400;
  --text-body-line-height: normal;
}
@media (max-width: 1439.98px) {
  :root {
    --h1-size: 64px;
    --h2-size: 56px;
  }
}
@media (max-width: 1099.98px) {
  :root {
    --h1-size: 56px;
    --h2-size: 48px;
    --h3-size: 18px;
    --h4-size: 16px;
    --text-accent-size: 16px;
    --text-body-size: 14px;
    --text-body-mini-size: 12px;
  }
}
@media (max-width: 767.98px) {
  :root {
    --h1-size: 28px;
    --h2-size: 24px;
    --text-accent-size: 14px;
    --text-body-size: 12px;
    --text-body-mini-size: 10px;
  }
}

.header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}
.header__body {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 32px;
  padding: 24px 0;
}
@media (max-width: 1439.98px) {
  .header__body {
    padding: 16px 0;
  }
}
.header__info {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 991.98px) {
  .header__info {
    gap: 24px;
  }
}
.header__info-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 767.98px) {
  .header__info-item {
    gap: 16px;
  }
  .header__info-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
.header__info-item img {
  flex: 0 0 24px;
  aspect-ratio: 1;
}
.header__info-item span {
  color: var(--color-white_grey);
}
@media (min-width: 767.98px) and (max-width: 1439.98px) {
  .header__info-item:last-child span {
    display: none;
  }
}
@media (min-width: 767.98px) and (max-width: 1099.98px) {
  .header__info-item:nth-child(2) span {
    display: none;
  }
}
@media (min-width: 767.98px) {
  .header__info-item--mobile {
    display: none;
  }
}
.header__logo {
  width: 100px;
  aspect-ratio: 1;
}
@media (max-width: 1439.98px) {
  .header__logo {
    width: 88px;
  }
}
@media (max-width: 1099.98px) {
  .header__logo {
    width: 72px;
  }
}
.header__actions {
  display: flex;
  justify-content: flex-end;
  gap: 56px;
  align-items: center;
}
@media (max-width: 991.98px) {
  .header__button .span--desktop {
    display: none;
  }
}
@media (min-width: 991.98px) {
  .header__button .span--mobile {
    display: none;
  }
}
.menu {
  position: relative;
}
.menu__button {
  position: relative;
  width: 40px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1099.98px) {
  .menu__button {
    width: 32px;
    height: 16px;
  }
}
.menu__button.open {
  width: 24px;
}
@media (max-width: 1099.98px) {
  .menu__button.open {
    width: 24px;
    height: 24px;
  }
}
.menu__button img:last-child {
  display: none;
}
.menu__button.open img:first-child {
  display: none;
}
.menu__button.open img:last-child {
  display: block;
}
.menu__body {
  overflow: auto;
  background: var(--color-dark_cards);
  padding: 32px 40px;
}
@media (min-width: 559.98px) {
  .menu__body {
    position: absolute;
    right: 0;
    top: calc(100% + 4px);
    box-shadow: 3px 11px 50px 0px rgba(0, 0, 0, 0.25);
  }
  .menu__body:not(.open .menu__body) {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .menu__body {
    min-width: 60vw;
  }
}
@media (max-width: 559.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 24px 16px;
    transform: translateX(100%);
    transition: all 0.3s ease;
  }
  .open .menu__body {
    transform: translateX(0);
  }
}
@media (max-width: 559.98px) {
  .menu__body-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu__body-top:not(:last-child) {
  margin-bottom: 32px;
}
@media (min-width: 559.98px) {
  .menu__close {
    display: none;
  }
}
.menu__logo {
  width: 56px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 767.98px) {
  .menu__logo {
    display: none;
  }
}
.menu__list:not(:last-child) {
  margin-bottom: 32px;
}
.menu__item:not(:last-child) {
  margin-bottom: 16px;
}
.menu__link {
  white-space: nowrap;
}
@media (max-width: 767.98px) {
  .menu__body-center:not(:last-child) {
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid rgba(189, 225, 231, 0.1);
  }
}
@media (min-width: 767.98px) {
  .menu__bottom-mobile {
    display: none;
  }
}