:root {
  --color-dark_cards: #1d2030;
  --color-dark_cards--rgb: 29, 32, 48;
  --color-green: #6bbb41;
  --color-green--rgb: 107, 187, 65;
  --color-dark_grey: #474a5a;
  --color-dark_grey--rgb: 71, 74, 90;
  --color-white_grey: #e0e3e7;
  --color-white_grey--rgb: 224, 227, 231;
  --color-white: #fff;
  --color-white--rgb: 255, 255, 255;
  --color-black-title: #222;
  --color-black-title--rgb: 34, 34, 34;
  --color-black-text: #111;
  --color-black-text--rgb: 17, 17, 17;
}

:root {
  --page-background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
  	linear-gradient(131deg, #141824 10.39%, #252838 65.55%);
  --content-width: 1552px;
  --content-padding: 0 2.75em 0 1.625em;
}
@media (max-width: 1439.98px) {
  :root {
    --content-padding: 0 2.625em 0 1.625em;
  }
}
@media (max-width: 479.98px) {
  :root {
    --content-padding: 0 0.875em;
  }
}

:root {
  --button-padding-x: 1.5em;
  --button-padding-y: 1.125em;
  --button-border-radius: 4px;
  --button-box-shadow: 2px 4px 25px 0px rgba(132, 192, 178, 0.2);
  --button-font-size: 1rem;
  --button-text-color: var(--color-white);
  --button-gap: 0.5em;
  --button-hover-background-color: #81dd51;
  --button-hover-box-shadow: 2px 4px 52px 0px rgba(77, 244, 124, 0.24);
}
@media (max-width: 1099.98px) {
  :root {
    --button-padding-x: 1em;
  }
}

:root {
  --tab-padding-x: 1.5em;
  --tab-padding-bottom: 0.75em;
  --tab-text-size: 1.25rem;
  --tab-text-weight: 500;
  --tab-text-color: var(--color-white_grey);
  --tab-hover-text-color: var(--color-green);
}

:root {
  --checkbox-width: 24px;
  --checkbox-height: 24px;
  --checkbox-border-radius: 2px;
  --checkbox-border: 1px;
  --checkbox-border-color: var(--color-dark_grey);
  --checkbox-hover-border-color: var(--color-green);
  --checkbox-hover-filter: drop-shadow(0px 0px 5px rgba(144, 255, 169, 0.25));
}

:root {
  --select-border: 1px;
  --select-border-color: var(--color-dark_grey);
  --select-hover-border-color: var(--color-green);
  --select-border-radius: 4px;
  --select-body-padding-x: 16px;
  --select-body-padding-y: 14px;
  --select-body-gap: 40px;
  --select-cell-padding-x: 16px;
  --select-cell-padding-y: 10px;
  --select-cell-background: var(--color-dark_cards);
  --select-cell-border-color: var(--color-green);
  --select-text-color: var(--color-white_grey);
  --select-text-size: 16px;
  --select-icon-color: var(--color-white_grey);
  --select-hover-icon-color: var(--color-green);
  --select-hover-color: var(--color-green);
  --select-hover-box-shadow: 0px 0px 5px 0px rgba(144, 255, 169, 0.25);
  --select-hover-cell-background: var(--color-dark_grey);
}

:root {
  --accordion-title-text-color: var(--color-white_grey);
  --accordion-title-text-size: 1rem;
  --accordion-title-gap: 2em;
  --accordion-padding-x: 1em;
  --accordion-padding-bottom: 2em;
  --accordion-panel-padding-top: 1.5em;
  --accordion-border-color: rgba(189, 225, 231, 0.1);
  --accordion-open-title-text-color: var(--color-green);
  --accordion-open-title-text-size: 1.25rem;
}
@media (max-width: 1439.98px) {
  :root {
    --accordion-padding-bottom: 1.5em;
  }
}
@media (max-width: 1099.98px) {
  :root {
    --accordion-padding-bottom: 16px;
    --accordion-title-text-size: 14px !important;
  }
}
@media (max-width: 767.98px) {
  :root {
    --accordion-padding-x: 0 !important;
    --accordion-padding-bottom: 0.75em;
    --accordion-panel-padding-top: 0.75em !important;
    --accordion-title-text-size: 0.75rem !important;
  }
}

:root {
  --title-color: var(--color-black-title);
  --h1-size: 4.5rem;
  --h1-weight: 800;
  --h1-line-height: 89%;
  --h2-size: 4rem;
  --h2-weight: 800;
  --h2-line-height: 100%;
  --h3-size: 1.5rem;
  --h3-weight: 500;
  --h3-line-height: normal;
  --h4-size: 1.25rem;
  --h4-weight: 500;
  --h4-line-height: normal;
  --text-accent-color: var(--color-black-title);
  --text-accent-size: 1.125rem;
  --text-accent-weight: 700;
  --text-body-color: var(--color-black-text);
  --text-body-size: 1rem;
  --text-body-mini-size: 0.875rem;
  --text-body-weight: 400;
  --text-body-line-height: normal;
}
@media (max-width: 1439.98px) {
  :root {
    --h1-size: 4rem;
    --h2-size: 3.5rem;
  }
}
@media (max-width: 1099.98px) {
  :root {
    --h1-size: 3.5rem;
    --h2-size: 2.8125rem;
    --h3-size: 1.125rem;
    --h4-size: 1rem;
    --text-accent-size: 1rem;
    --text-body-size: 0.875rem;
    --text-body-mini-size: 0.75rem;
  }
}
@media (max-width: 767.98px) {
  :root {
    --h1-size: 1.75rem;
    --h2-size: 1.5rem;
    --text-accent-size: 0.875;
    --text-body-size: 0.75rem;
    --text-body-mini-size: 0.625rem;
  }
}

.main-block {
  padding-bottom: 4.5em;
}
@media (max-width: 1439.98px) {
  .main-block {
    padding-bottom: 3.5em;
  }
}
@media (max-width: 1099.98px) {
  .main-block {
    padding-bottom: 2.5em;
  }
}
@media (max-width: 767.98px) {
  .main-block {
    padding-bottom: 1.5em;
  }
}
.main-block__body {
  padding: 5em 0;
}
@media (max-width: 1439.98px) {
  .main-block__body {
    padding: 4em 0;
  }
}
@media (max-width: 1099.98px) {
  .main-block__body {
    padding: 2.5em 0;
  }
}
.main-block__benefits {
  display: grid;
  gap: 1em;
  row-gap: 2em;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 767.98px) {
  .main-block__benefits {
    grid-template-columns: repeat(2, 1fr);
  }
}
.main-block__benefit {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
  justify-content: center;
}
@media (min-width: 767.98px) {
  .main-block__benefit:not(:last-child) {
    padding-right: 1em;
    border-right: 1px solid rgba(189, 225, 231, 0.1);
  }
}
@media (max-width: 1099.98px) {
  .main-block__benefit {
    gap: 1em;
  }
}
.main-block__benefit:hover .static {
  display: none;
}
.main-block__benefit:hover .hover {
  display: block;
}
.main-block__benefit:hover .main-block__benefit-text {
  color: var(--color-green);
}
.main-block__benefit-icon {
  width: 56px;
  aspect-ratio: 1;
}
@media (max-width: 1099.98px) {
  .main-block__benefit-icon {
    width: 40px;
    height: 40px;
  }
}
.main-block__benefit-icon .hover {
  display: none;
}
.main-block__benefit-icon img {
  -o-object-fit: fill;
     object-fit: fill;
}
.main-block__benefit-text {
  text-align: center;
}

.main-slider .splide__pagination {
  bottom: 3.25em;
  gap: 1.5em;
}
.main-slider .splide__pagination li button.is-active {
  position: relative;
  background-color: var(--color-white_grey);
}
.main-slider .splide__pagination li button.is-active::after {
  content: "";
  position: absolute;
  top: calc((1em - 0.5em) / 2 * -1);
  left: calc((1em - 0.5em) / 2 * -1);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-white_grey);
}
.main-slider .splide__pagination li button {
  width: 8px;
  height: 8px;
  background-color: var(--color-green);
  transform: scale(1);
}
.main-slider__slide-body {
  position: relative;
  min-height: 100vh;
}
.main-slider__slide-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-slider__content-wrapper {
  position: relative;
  z-index: 5;
  padding: 0 0.875em;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-slider__slide-title {
  text-align: center;
  color: var(--color-white_grey);
}
.main-slider__slide-title span {
  color: var(--color-green);
}
.main-slider__slide-title:not(:last-child) {
  margin-bottom: 2.5em;
}
@media (max-width: 1439.98px) {
  .main-slider__slide-title:not(:last-child) {
    margin-bottom: 1em;
  }
}
@media (max-width: 767.98px) {
  .main-slider__slide-title:not(:last-child) {
    margin-bottom: 1.5em;
  }
}
.main-slider__slide-subtitle {
  text-align: center;
  color: var(--color-white_grey);
}
.main-slider__slide-subtitle:not(:last-child) {
  margin-bottom: 3.5em;
}
@media (max-width: 1439.98px) {
  .main-slider__slide-subtitle:not(:last-child) {
    margin-bottom: 2em;
  }
}
.main-slider__people-bg {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 90%;
  aspect-ratio: 676/834;
}
@media (max-width: 767.98px) {
  .main-slider__people-bg {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .main-slider__controlls {
    display: none;
  }
}
.main-slider__arrow {
  width: 80px;
  height: 80px;
  border-radius: 4px 0px 0px 4px;
  background: rgba(174, 174, 174, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-slider__arrow img {
  width: 32px;
  height: 32px;
}
.main-slider__arrow-prev {
  left: 0;
}
.main-slider__arrow-next {
  right: 0;
}