.main-block {
  padding-bottom: 4.5rem;
}
@media (max-width: 1439.98px) {
  .main-block {
    padding-bottom: 3.5rem;
  }
}
@media (max-width: 1099.98px) {
  .main-block {
    padding-bottom: 2.5rem;
  }
}
@media (max-width: 767.98px) {
  .main-block {
    padding-bottom: 1.5rem;
  }
}
.main-block__body {
  padding: 5rem 0;
}
@media (max-width: 1439.98px) {
  .main-block__body {
    padding: 4rem 0;
  }
}
@media (max-width: 1099.98px) {
  .main-block__body {
    padding: 2.5rem 0;
  }
}
.main-block__benefits {
  display: grid;
  gap: 1rem;
  row-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 767.98px) {
  .main-block__benefits {
    grid-template-columns: repeat(2, 1fr);
  }
}
.main-block__benefit {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}
@media (min-width: 767.98px) {
  .main-block__benefit:not(:last-child) {
    padding-right: 1rem;
    border-right: 1px solid rgba(189, 225, 231, 0.1);
  }
}
@media (max-width: 1099.98px) {
  .main-block__benefit {
    gap: 1rem;
  }
}
.main-block__benefit:hover .static {
  display: none;
}
.main-block__benefit:hover .hover {
  display: block;
}
.main-block__benefit:hover .main-block__benefit-text {
  color: var(--color-green);
}
.main-block__benefit-icon {
  width: 56px;
  aspect-ratio: 1;
}
@media (max-width: 1099.98px) {
  .main-block__benefit-icon {
    width: 40px;
    height: 40px;
  }
}
.main-block__benefit-icon .hover {
  display: none;
}
.main-block__benefit-icon img {
  -o-object-fit: fill;
     object-fit: fill;
}
.main-block__benefit-text {
  text-align: center;
}

.main-slider .splide__pagination {
  bottom: 3.25rem;
  gap: 1.5rem;
}
.main-slider .splide__pagination li button.is-active {
  position: relative;
  background-color: var(--color-white_grey);
}
.main-slider .splide__pagination li button.is-active::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-white_grey);
}
.main-slider .splide__pagination li button {
  width: 8px;
  height: 8px;
  background-color: var(--color-green);
  transform: scale(1);
}
.main-slider#main-slider-background {
  position: relative;
  z-index: 0;
}
.main-slider#main-slider-foreground {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}
.main-slider#main-slider-foreground .splide__pagination,
.main-slider#main-slider-foreground .splide__arrows {
  display: none;
}
.main-slider#main-slider-foreground .main-slider__list {
  position: relative;
  z-index: 3;
}
.main-slider#main-slider-foreground .main-slider__slide-button {
  pointer-events: auto;
}
.main-slider__slide {
  width: 100dvw !important;
}
.main-slider__slide-body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 559.98px) {
  .main-slider__slide-body {
    background-position: 54%;
  }
}
.main-slider__content-wrapper {
  position: relative;
  z-index: 5;
  padding: 0 0.875rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-slider__slide-title {
  text-align: center;
  color: var(--color-white_grey);
}
.main-slider__slide-title span {
  color: var(--color-green);
}
.main-slider__slide-title:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media (max-width: 1439.98px) {
  .main-slider__slide-title:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767.98px) {
  .main-slider__slide-title:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
.main-slider__slide-subtitle {
  text-align: center;
  color: var(--color-white_grey);
}
.main-slider__slide-subtitle:not(:last-child) {
  margin-bottom: 3.5rem;
}
@media (max-width: 1439.98px) {
  .main-slider__slide-subtitle:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.main-slider__people-bg {
  position: absolute !important;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 90%;
  aspect-ratio: 676/834;
}
@media (max-width: 767.98px) {
  .main-slider__people-bg {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .main-slider__controlls {
    display: none;
  }
}
.main-slider__arrow {
  width: 80px;
  height: 80px;
  border-radius: 4px 0px 0px 4px;
  background: rgba(174, 174, 174, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-slider__arrow img {
  width: 32px;
  height: 32px;
}
.main-slider__arrow-prev {
  left: 0;
}
.main-slider__arrow-next {
  right: 0;
}