.section-12__text-wrapper:not(:last-child) {
  margin-bottom: 5rem;
}
@media (max-width: 1439.98px) {
  .section-12__text-wrapper:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media (max-width: 1099.98px) {
  .section-12__text-wrapper:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 767.98px) {
  .section-12__text-wrapper:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.section-12__slider:not(:last-child) {
  margin-bottom: 5rem;
}
@media (max-width: 1439.98px) {
  .section-12__slider:not(:last-child) {
    margin-bottom: 4.75rem;
  }
}
@media (max-width: 1099.98px) {
  .section-12__slider:not(:last-child) {
    margin-bottom: 3rem;
  }
}
@media (max-width: 767.98px) {
  .section-12__slider:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
.section-12__slider .splide__arrows {
  display: none;
}
@media (max-width: 991.98px) {
  .section-12__slider {
    padding-bottom: calc(1.5rem + 1rem);
  }
}
.section-12__slider .splide__pagination {
  bottom: 0;
  gap: 1rem;
}
@media (max-width: 991.98px) {
  .section-12__slider-track {
    overflow: visible;
  }
}
.section-12__slide-img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 8px;
  box-shadow: 3px 11px 50px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.section-12__slide-img img {
  transform: scale(1.4);
}
.section-12__slide-img:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media (max-width: 767.98px) {
  .section-12__slide-img:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.section-12__slide-title {
  color: var(--color-white);
  text-align: center;
}
.section-12__action {
  display: flex;
  justify-content: center;
}