@charset "UTF-8";
.section-6__text-wrapper {
  margin-bottom: 5rem;
}
@media (max-width: 1439.98px) {
  .section-6__text-wrapper {
    margin-bottom: 4rem;
  }
}
@media (max-width: 1099.98px) {
  .section-6__text-wrapper {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 767.98px) {
  .section-6__text-wrapper {
    margin-bottom: 2rem;
  }
}
.section-6__content {
  position: relative;
  padding: 9.6875rem 0 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1439.98px) {
  .section-6__content {
    padding: 7.5rem 0 5rem;
  }
}
@media (max-width: 1099.98px) {
  .section-6__content {
    padding: 3.5rem 0 4rem;
  }
}
@media (max-width: 767.98px) {
  .section-6__content {
    padding: 3rem 0 2.5rem;
  }
}
.section-6__inner-form:not(:last-child) {
  margin-bottom: 5.375rem;
}
@media (max-width: 1439.98px) {
  .section-6__inner-form:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media (max-width: 1099.98px) {
  .section-6__inner-form:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 767.98px) {
  .section-6__inner-form:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
.section-6__action {
  display: flex;
  justify-content: center;
}
.section-6__background {
  position: absolute !important;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.inner-form {
  --height: 394px;
  --padding-top: 2rem;
  --padding-x: 2.5rem;
  --padding-bottom: 3.75rem;
  --navigation-margin-bottom: 2rem;
  --scroll-width: 0.25rem;
  padding: var(--padding-top) calc(var(--padding-x) - var(--scroll-width)) var(--padding-bottom) var(--padding-x);
  border-radius: 8px;
  background-color: var(--color-dark_cards);
  box-shadow: 3px 11px 50px 0px rgba(0, 0, 0, 0.25);
  max-width: 760px;
  height: var(--height);
  overflow: hidden;
}
@media (max-width: 1439.98px) {
  .inner-form {
    --height: 386px;
    max-width: 632px;
  }
}
@media (max-width: 1099.98px) {
  .inner-form {
    --height: 336px;
    --padding-top: 2rem;
    --padding-x: 2rem;
    --padding-bottom: 3.0625rem;
    --navigation-margin-bottom: 1.5rem;
  }
}
@media (max-width: 767.98px) {
  .inner-form {
    --height: 312px;
    --padding-top: 1.5rem;
    --padding-x: 1.5rem;
    --padding-bottom: 3.375rem;
    --navigation-margin-bottom: 1rem;
  }
}
@media (max-width: 559.98px) {
  .inner-form {
    width: 290px;
  }
}
.inner-form__tabs {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}
.inner-form__tabs:not(:last-child) {
  margin-bottom: var(--navigation-margin-bottom);
}
.inner-form__tabs::-webkit-scrollbar {
  width: 0;
}
.inner-form__tabs::-webkit-scrollbar-track {
  background: transparent;
}
.inner-form__tabs::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 0;
}
.inner-form__tab-body {
  position: relative;
  z-index: 1;
  padding-right: var(--scroll-width);
  overflow: auto;
  max-height: calc(var(--height) - (var(--padding-top) + var(--padding-bottom) + var(--navigation-margin-bottom) + var(--navigation-height)));
  scrollbar-width: thin;
  scrollbar-color: var(--color-white_grey) var(--color-white_grey);
}
.inner-form__tab-body::-webkit-scrollbar {
  width: var(--scroll-width); /* ширина всей полосы прокрутки */
}
.inner-form__tab-body::-webkit-scrollbar-track {
  background: transparent; /* цвет зоны отслеживания */
}
.inner-form__tab-body::-webkit-scrollbar-thumb {
  background-color: var(--color-white_grey);
  border-radius: 20px;
}
.inner-form__tab {
  font-size: 1rem !important;
  font-weight: 400;
}
@media (max-width: 1099.98px) {
  .inner-form__tab {
    font-size: 0.875rem !important;
  }
}
@media (max-width: 767.98px) {
  .inner-form__tab {
    font-size: 0.75rem !important;
    gap: 1.5rem;
  }
}
.inner-form__text:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media (max-width: 1099.98px) {
  .inner-form__text:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767.98px) {
  .inner-form__text:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}
.inner-form__list-title {
  color: var(--color-wwhite_grey) !important;
}
.inner-form__list-title:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media (max-width: 1439.98px) {
  .inner-form__list-title:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767.98px) {
  .inner-form__list-title:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}
.inner-form__list-item {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.inner-form__list-item::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--color-white_grey);
  transform-origin: bottom right;
  transform: rotate(45deg);
}
.inner-form__list-item:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media (max-width: 767.98px) {
  .inner-form__list-item:not(:last-child) {
    margin-bottom: 0.375rem;
  }
}