.section-10__text-wrapper:not(:last-child) {
  margin-bottom: 5rem;
}
@media (max-width: 1439.98px) {
  .section-10__text-wrapper:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media (max-width: 1099.98px) {
  .section-10__text-wrapper:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 767.98px) {
  .section-10__text-wrapper:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.section-10__slider {
  position: relative;
  z-index: 1;
}
.section-10__slider:not(:last-child) {
  margin-bottom: 5rem;
}
@media (max-width: 1439.98px) {
  .section-10__slider:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media (max-width: 1099.98px) {
  .section-10__slider:not(:last-child) {
    margin-bottom: 3rem;
  }
}
@media (max-width: 767.98px) {
  .section-10__slider:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
.section-10__slider .splide__pagination {
  gap: 16px;
}
@media (min-width: 767.98px) {
  .section-10__slider .splide__pagination {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .section-10__slider {
    padding-bottom: calc(1.5rem + 1rem);
  }
}
.section-10__slider-track {
  position: relative;
  overflow: visible;
}
.section-10__slider-track .section-10__slider-controlls {
  opacity: 0;
  visibility: hidden;
}
.section-10__slide {
  position: relative;
  padding: 2.5rem;
  border-radius: 8px;
  background-color: var(--color-dark_cards);
  box-shadow: 3px 11px 50px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 1099.98px) {
  .section-10__slide {
    padding: 2rem;
  }
}
@media (max-width: 767.98px) {
  .section-10__slide {
    padding: 1.5rem;
  }
}
@media (max-width: 1099.98px) {
  .section-10__slide {
    gap: 1rem;
  }
}
.section-10__slider-controlls {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
@media (max-width: 767.98px) {
  .section-10__slider-controlls {
    display: none;
  }
}
.section-10__slider-controlls button {
  position: static;
  transform: translate(0);
}
.section-10__action-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.25rem;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .section-10__action-wrapper {
    justify-content: center;
  }
}
.section-10__actions {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
@media (max-width: 767.98px) {
  .section-10__actions {
    gap: 1rem;
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .section-10__action-text {
    text-align: center;
  }
}
.feedback-slide__title {
  color: var(--color-white_grey);
}
@media (max-width: 1439.98px) {
  .feedback-slide__title {
    font-size: 1.25rem;
  }
}
@media (max-width: 1099.98px) {
  .feedback-slide__title {
    font-size: 1rem;
  }
}
.feedback-slide__value-wrapper {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.feedback-slide__value-wrapper img {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
}
@media (max-width: 1099.98px) {
  .feedback-slide__value-wrapper img {
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 767.98px) {
  .feedback-slide__value-wrapper img {
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
  }
}
.feedback-slide__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 1439.98px) {
  .feedback-slide__text {
    -webkit-line-clamp: 2;
  }
}
.feedback-slide__photos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.feedback-slide__photos-imgs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.feedback-slide__photos-imgs img {
  flex: 0 0 72px;
  width: 72px;
  height: 72px;
}
@media (max-width: 1439.98px) {
  .feedback-slide__photos-imgs img {
    flex: 0 0 56px;
    width: 56px;
    height: 56px;
  }
}
@media (max-width: 1099.98px) {
  .feedback-slide__photos-imgs img {
    flex: 0 0 64px;
    width: 64px;
    height: 64px;
  }
}
@media (max-width: 767.98px) {
  .feedback-slide__photos-imgs img {
    flex: 0 0 38px;
    width: 38px;
    height: 38px;
  }
}
.feedback-slide__photos-more {
  color: var(--color-green);
}
@media (max-width: 1439.98px) {
  .feedback-slide__photos-more {
    font-size: 14px;
  }
}
.feedback-slide__bottom {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 767.98px) {
  .feedback-slide__bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}
.feedback-slide__author-wrapper {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 767.98px) {
  .feedback-slide__author-wrapper {
    align-items: flex-start;
  }
}
.feedback-slide__author-name {
  color: var(--color-white_grey) !important;
}