:root {
  --color-dark_cards: #1d2030;
  --color-dark_cards--rgb: 29, 32, 48;
  --color-green: #6bbb41;
  --color-green--rgb: 107, 187, 65;
  --color-dark_grey: #474a5a;
  --color-dark_grey--rgb: 71, 74, 90;
  --color-white_grey: #e0e3e7;
  --color-white_grey--rgb: 224, 227, 231;
  --color-white: #fff;
  --color-white--rgb: 255, 255, 255;
  --color-black-title: #222;
  --color-black-title--rgb: 34, 34, 34;
  --color-black-text: #111;
  --color-black-text--rgb: 17, 17, 17;
}

:root {
  --page-background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
  	linear-gradient(131deg, #141824 10.39%, #252838 65.55%);
  --content-width: 1552px;
  --content-padding: 0 44px 0 26px;
}
@media (max-width: 1439.98px) {
  :root {
    --content-padding: 0 42px 0 26px;
  }
}
@media (max-width: 479.98px) {
  :root {
    --content-padding: 0 14px;
  }
}

:root {
  --button-padding-x: 24px;
  --button-padding-y: 18px;
  --button-border-radius: 4px;
  --button-box-shadow: 2px 4px 25px 0px rgba(132, 192, 178, 0.2);
  --button-font-size: 16px;
  --button-text-color: var(--color-white);
  --button-gap: 8px;
  --button-hover-background-color: #81dd51;
  --button-hover-box-shadow: 2px 4px 52px 0px rgba(77, 244, 124, 0.24);
}
@media (max-width: 1099.98px) {
  :root {
    --button-padding-x: 16px;
  }
}

:root {
  --tab-padding-x: 24px;
  --tab-padding-bottom: 12px;
  --tab-text-size: 20px;
  --tab-text-weight: 500;
  --tab-text-color: var(--color-white_grey);
  --tab-hover-text-color: var(--color-green);
}

:root {
  --checkbox-width: 24px;
  --checkbox-height: 24px;
  --checkbox-border-radius: 2px;
  --checkbox-border: 1px;
  --checkbox-border-color: var(--color-dark_grey);
  --checkbox-hover-border-color: var(--color-green);
  --checkbox-hover-filter: drop-shadow(0px 0px 5px rgba(144, 255, 169, 0.25));
}

:root {
  --select-border: 1px;
  --select-border-color: var(--color-dark_grey);
  --select-hover-border-color: var(--color-green);
  --select-border-radius: 4px;
  --select-body-padding-x: 16px;
  --select-body-padding-y: 14px;
  --select-body-gap: 40px;
  --select-cell-padding-x: 16px;
  --select-cell-padding-y: 10px;
  --select-cell-background: var(--color-dark_cards);
  --select-cell-border-color: var(--color-green);
  --select-text-color: var(--color-white_grey);
  --select-text-size: 16px;
  --select-icon-color: var(--color-white_grey);
  --select-hover-icon-color: var(--color-green);
  --select-hover-color: var(--color-green);
  --select-hover-box-shadow: 0px 0px 5px 0px rgba(144, 255, 169, 0.25);
  --select-hover-cell-background: var(--color-dark_grey);
}

:root {
  --accordion-title-text-color: var(--color-white_grey);
  --accordion-title-text-size: 16px;
  --accordion-title-gap: 32px;
  --accordion-padding-x: 16px;
  --accordion-padding-bottom: 32px;
  --accordion-panel-padding-top: 24px;
  --accordion-border-color: rgba(189, 225, 231, 0.1);
  --accordion-open-title-text-color: var(--color-green);
  --accordion-open-title-text-size: 20px;
}

:root {
  --title-color: var(--color-black-title);
  --h1-size: 72px;
  --h1-weight: 800;
  --h1-line-height: 89%;
  --h2-size: 64px;
  --h2-weight: 800;
  --h2-line-height: 100%;
  --h3-size: 24px;
  --h3-weight: 500;
  --h3-line-height: normal;
  --h4-size: 20px;
  --h4-weight: 500;
  --h4-line-height: normal;
  --text-accent-color: var(--color-black-title);
  --text-accent-size: 18px;
  --text-accent-weight: 700;
  --text-body-color: var(--color-black-text);
  --text-body-size: 16px;
  --text-body-mini-size: 14px;
  --text-body-weight: 400;
  --text-body-line-height: normal;
}
@media (max-width: 1439.98px) {
  :root {
    --h1-size: 64px;
    --h2-size: 56px;
  }
}
@media (max-width: 1099.98px) {
  :root {
    --h1-size: 56px;
    --h2-size: 48px;
    --h3-size: 18px;
    --h4-size: 16px;
    --text-accent-size: 16px;
    --text-body-size: 14px;
    --text-body-mini-size: 12px;
  }
}
@media (max-width: 767.98px) {
  :root {
    --h1-size: 28px;
    --h2-size: 24px;
    --text-accent-size: 14px;
    --text-body-size: 12px;
    --text-body-mini-size: 10px;
  }
}

.section-3__text-wrapper {
  margin-bottom: 80px;
}
@media (max-width: 1439.98px) {
  .section-3__text-wrapper {
    margin-bottom: 64px;
  }
}
@media (max-width: 1099.98px) {
  .section-3__text-wrapper {
    margin-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .section-3__text-wrapper {
    margin-bottom: 32px;
  }
}
.section-3__content {
  position: relative;
  padding: 160px 0 120px;
}
@media (max-width: 1439.98px) {
  .section-3__content {
    padding: 120px 0 80px;
  }
}
@media (max-width: 1099.98px) {
  .section-3__content {
    padding: 80px 0 64px;
  }
}
@media (max-width: 767.98px) {
  .section-3__content {
    padding: 48px 0 40px;
  }
}
.section-3__background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-3__slider .splide__arrows {
  display: none;
}
.section-3__slider:not(:last-child) {
  margin-bottom: 80px;
}
@media (max-width: 1439.98px) {
  .section-3__slider:not(:last-child) {
    margin-bottom: 64px;
  }
}
@media (max-width: 1099.98px) {
  .section-3__slider:not(:last-child) {
    margin-bottom: 48px;
  }
}
@media (max-width: 767.98px) {
  .section-3__slider:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (max-width: 767.98px) {
  .section-3__slider {
    padding-bottom: 40px;
  }
}
.section-3__slider .splide__pagination {
  bottom: 0;
  gap: 16px;
}
.section-3__slide {
  border-radius: 8px;
  background: var(--color-dark_cards);
  box-shadow: 3px 11px 50px 0px rgba(0, 0, 0, 0.25);
  padding: 40px;
}
@media (max-width: 1099.98px) {
  .section-3__slide {
    padding: 32px;
  }
}
@media (max-width: 767.98px) {
  .section-3__slide {
    padding: 24px;
  }
}
.section-3__slide-title {
  color: var(--color-white_grey);
}
.section-3__slide-title:not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 1099.98px) {
  .section-3__slide-title:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (max-width: 767.98px) {
  .section-3__slide-title:not(:last-child) {
    margin-bottom: 32px;
  }
}
.section-3__slide-img {
  width: 100%;
  padding-bottom: 60%;
  margin-bottom: 32px;
  border-radius: 4px;
}
@media (max-width: 1099.98px) {
  .section-3__slide-img {
    margin-bottom: 24px;
  }
}
@media (max-width: 767.98px) {
  .section-3__slide-img {
    margin-bottom: 16px;
  }
}
.section-3__slide-img img {
  -o-object-fit: contain;
     object-fit: contain;
}
.section-3__slide-img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: rgba(167, 197, 255, 0.5);
  filter: blur(100px);
}
.section-3__slide-img--right img {
  -o-object-position: left;
     object-position: left;
}
.section-3__slide-img--left img {
  -o-object-position: right;
     object-position: right;
}
.section-3__slide-img--cover img {
  -o-object-fit: cover;
     object-fit: cover;
}
.section-3__slide-img--mb-reset {
  margin-bottom: 0;
}
.section-3__slide-bottom {
  display: grid;
  align-items: center;
  gap: 48px;
}
@media (max-width: 767.98px) {
  .section-3__slide-bottom {
    gap: 36px;
  }
}
.section-3__slide-bottom--flex {
  display: flex;
}
.section-3__slide-link {
  justify-self: flex-end;
  white-space: nowrap;
}
.section-3__slide-center {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
.section-3__slide-center--mb {
  margin-bottom: 32px;
}
@media (max-width: 1099.98px) {
  .section-3__slide-center--mb {
    margin-bottom: 24px;
  }
}
@media (max-width: 767.98px) {
  .section-3__slide-center--mb {
    margin-bottom: 16px;
  }
}
.section-3__action {
  display: flex;
  justify-content: center;
}
.sep {
  background: linear-gradient(270deg, rgba(239, 184, 118, 0.3) 0%, rgba(187, 144, 106, 0.3) 100%);
}
.sep--horizontal {
  width: 100%;
  height: 1px;
}
.sep--vertical {
  position: absolute;
  height: 100%;
  width: 1px;
}
.sep--left {
  left: 0;
}
.sep--right {
  right: 0;
}