:root {
  --color-dark_cards: #1d2030;
  --color-dark_cards--rgb: 29, 32, 48;
  --color-green: #6bbb41;
  --color-green--rgb: 107, 187, 65;
  --color-dark_grey: #474a5a;
  --color-dark_grey--rgb: 71, 74, 90;
  --color-white_grey: #e0e3e7;
  --color-white_grey--rgb: 224, 227, 231;
  --color-white: #fff;
  --color-white--rgb: 255, 255, 255;
  --color-black-title: #222;
  --color-black-title--rgb: 34, 34, 34;
  --color-black-text: #111;
  --color-black-text--rgb: 17, 17, 17;
}

:root {
  --page-background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
  	linear-gradient(131deg, #141824 10.39%, #252838 65.55%);
  --content-width: 1552px;
  --content-padding: 0 44px 0 26px;
}
@media (max-width: 1439.98px) {
  :root {
    --content-padding: 0 42px 0 26px;
  }
}
@media (max-width: 479.98px) {
  :root {
    --content-padding: 0 14px;
  }
}

:root {
  --button-padding-x: 24px;
  --button-padding-y: 18px;
  --button-border-radius: 4px;
  --button-box-shadow: 2px 4px 25px 0px rgba(132, 192, 178, 0.2);
  --button-font-size: 16px;
  --button-text-color: var(--color-white);
  --button-gap: 8px;
  --button-hover-background-color: #81dd51;
  --button-hover-box-shadow: 2px 4px 52px 0px rgba(77, 244, 124, 0.24);
}
@media (max-width: 1099.98px) {
  :root {
    --button-padding-x: 16px;
  }
}

:root {
  --tab-padding-x: 24px;
  --tab-padding-bottom: 12px;
  --tab-text-size: 20px;
  --tab-text-weight: 500;
  --tab-text-color: var(--color-white_grey);
  --tab-hover-text-color: var(--color-green);
}

:root {
  --checkbox-width: 24px;
  --checkbox-height: 24px;
  --checkbox-border-radius: 2px;
  --checkbox-border: 1px;
  --checkbox-border-color: var(--color-dark_grey);
  --checkbox-hover-border-color: var(--color-green);
  --checkbox-hover-filter: drop-shadow(0px 0px 5px rgba(144, 255, 169, 0.25));
}

:root {
  --select-border: 1px;
  --select-border-color: var(--color-dark_grey);
  --select-hover-border-color: var(--color-green);
  --select-border-radius: 4px;
  --select-body-padding-x: 16px;
  --select-body-padding-y: 14px;
  --select-body-gap: 40px;
  --select-cell-padding-x: 16px;
  --select-cell-padding-y: 10px;
  --select-cell-background: var(--color-dark_cards);
  --select-cell-border-color: var(--color-green);
  --select-text-color: var(--color-white_grey);
  --select-text-size: 16px;
  --select-icon-color: var(--color-white_grey);
  --select-hover-icon-color: var(--color-green);
  --select-hover-color: var(--color-green);
  --select-hover-box-shadow: 0px 0px 5px 0px rgba(144, 255, 169, 0.25);
  --select-hover-cell-background: var(--color-dark_grey);
}

:root {
  --accordion-title-text-color: var(--color-white_grey);
  --accordion-title-text-size: 16px;
  --accordion-title-gap: 32px;
  --accordion-padding-x: 16px;
  --accordion-padding-bottom: 32px;
  --accordion-panel-padding-top: 24px;
  --accordion-border-color: rgba(189, 225, 231, 0.1);
  --accordion-open-title-text-color: var(--color-green);
  --accordion-open-title-text-size: 20px;
}

:root {
  --title-color: var(--color-black-title);
  --h1-size: 72px;
  --h1-weight: 800;
  --h1-line-height: 89%;
  --h2-size: 64px;
  --h2-weight: 800;
  --h2-line-height: 100%;
  --h3-size: 24px;
  --h3-weight: 500;
  --h3-line-height: normal;
  --h4-size: 20px;
  --h4-weight: 500;
  --h4-line-height: normal;
  --text-accent-color: var(--color-black-title);
  --text-accent-size: 18px;
  --text-accent-weight: 700;
  --text-body-color: var(--color-black-text);
  --text-body-size: 16px;
  --text-body-mini-size: 14px;
  --text-body-weight: 400;
  --text-body-line-height: normal;
}
@media (max-width: 1439.98px) {
  :root {
    --h1-size: 64px;
    --h2-size: 56px;
  }
}
@media (max-width: 1099.98px) {
  :root {
    --h1-size: 56px;
    --h2-size: 48px;
    --h3-size: 18px;
    --h4-size: 16px;
    --text-accent-size: 16px;
    --text-body-size: 14px;
    --text-body-mini-size: 12px;
  }
}
@media (max-width: 767.98px) {
  :root {
    --h1-size: 28px;
    --h2-size: 24px;
    --text-accent-size: 14px;
    --text-body-size: 12px;
    --text-body-mini-size: 10px;
  }
}

.section-8__text-wrapper:not(:last-child) {
  margin-bottom: 80px;
}
@media (max-width: 1439.98px) {
  .section-8__text-wrapper:not(:last-child) {
    margin-bottom: 64px;
  }
}
@media (max-width: 1099.98px) {
  .section-8__text-wrapper:not(:last-child) {
    margin-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .section-8__text-wrapper:not(:last-child) {
    margin-bottom: 32px;
  }
}
.section-8__slider {
  position: relative;
  z-index: 1;
}
.section-8__slider:not(:last-child) {
  margin-bottom: 80px;
}
@media (max-width: 1439.98px) {
  .section-8__slider:not(:last-child) {
    margin-bottom: 64px;
  }
}
@media (max-width: 1099.98px) {
  .section-8__slider:not(:last-child) {
    margin-bottom: 48px;
  }
}
@media (max-width: 767.98px) {
  .section-8__slider:not(:last-child) {
    margin-bottom: 32px;
  }
}
.section-8__slider .splide__pagination {
  gap: 16px;
}
@media (min-width: 767.98px) {
  .section-8__slider .splide__pagination {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .section-8__slider {
    padding-bottom: 40px;
  }
}
.section-8__slider-track {
  overflow: visible;
}
.section-8__slide {
  position: relative;
  padding: 40px;
  border-radius: 8px;
  background-color: var(--color-dark_cards);
  box-shadow: 3px 11px 50px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1099.98px) {
  .section-8__slide {
    padding: 32px;
  }
}
@media (max-width: 767.98px) {
  .section-8__slide {
    padding: 24px;
  }
}
@media (min-width: 559.98px) {
  .section-8__slide {
    display: grid;
    grid-template-rows: 30% 1fr;
  }
}
@media (max-width: 356px) {
  .section-8__slide {
    display: grid;
    grid-template-rows: 30% 1fr;
  }
}
.section-8__slide::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(167, 197, 255, 0.5);
  filter: blur(100px);
  width: 30%;
  height: 30%;
  border-radius: 50%;
}
.section-8__item-top {
  display: grid;
  gap: 16px;
  grid-template-columns: auto 1fr;
}
.section-8__item-number {
  font-family: Raleway, sans-serif;
  color: rgba(189, 225, 231, 0.1);
  font-size: 96px;
  line-height: 84%;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .section-8__item-number {
    font-size: 80px;
  }
}
.section-8__item-top-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.section-8__item-line {
  background: linear-gradient(270deg, rgba(239, 184, 118, 0.3) 0%, rgba(187, 144, 106, 0.3) 100%);
  width: 80%;
  height: 1px;
  margin-bottom: 16px;
}
.section-8__item-center {
  position: relative;
}
.section-8__item-center--pr {
  padding-right: 42px;
}
@media (max-width: 767.98px) {
  .section-8__item-center--pr {
    padding-right: 32px;
  }
}
.section-8__item-image {
  width: 100%;
  padding-bottom: 100%;
}
.section-8__item-background-title {
  position: absolute;
  right: 0;
  bottom: 0;
  transform-origin: right;
  transform: rotate(90deg);
  color: var(--color-dark_grey);
  font-family: EBGaramond, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  white-space: nowrap;
}
.section-8__slider-controlls {
  display: flex;
  align-items: center;
  gap: 40px;
  position: absolute;
  z-index: 1;
  top: calc(100% + 76px);
  right: 0;
}
@media (min-width: 1439.98px) {
  .section-8__slider-controlls {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .section-8__slider-controlls {
    display: none;
  }
}
.section-8__slider-controlls button {
  position: static;
}
.section-8__action {
  position: relative;
  display: flex;
  justify-content: center;
}
.section-8__action-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
@media (min-width: 1439.98px) {
  .section-8__action-text {
    display: none;
  }
}
@media (max-width: 1099.98px) {
  .section-8__action-text {
    display: none;
  }
}