.section-9__text-wrapper:not(:last-child) {
  margin-bottom: 5rem;
}
@media (max-width: 1439.98px) {
  .section-9__text-wrapper:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media (max-width: 1099.98px) {
  .section-9__text-wrapper:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 767.98px) {
  .section-9__text-wrapper:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.section-9__text {
  max-width: 1156px;
}
@media (max-width: 1439.98px) {
  .section-9__text {
    max-width: 1010px;
  }
}
@media (max-width: 767.98px) {
  .section-9__tabs-navigation {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
  }
  .section-9__tabs-navigation::-webkit-scrollbar {
    width: 0;
  }
  .section-9__tabs-navigation::-webkit-scrollbar-track {
    background: transparent;
  }
  .section-9__tabs-navigation::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 0;
  }
}
.section-9__tabs-navigation:not(:last-child) {
  margin-bottom: 3.5rem;
}
@media (max-width: 1439.98px) {
  .section-9__tabs-navigation:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 1099.98px) {
  .section-9__tabs-navigation:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
.section-9__tabs-title {
  white-space: nowrap;
}
@media (max-width: 1099.98px) {
  .section-9__tabs-title {
    font-size: 16px !important;
  }
}
.section-9__slider .splide__pagination {
  display: none;
}
.section-9__slider-track {
  position: relative;
}
.section-9__slider-controlls {
  position: absolute;
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
@media (min-width: 767.98px) {
  .section-9__slider-controlls {
    bottom: 0;
    left: calc(68% + 10.25rem);
  }
}
@media (min-width: 767.98px) and (max-width: 1439.98px) {
  .section-9__slider-controlls {
    left: calc(64% + 2rem);
  }
}
@media (min-width: 767.98px) and (max-width: 1099.98px) {
  .section-9__slider-controlls {
    left: calc(50% + 1.375rem);
  }
}
@media (max-width: 767.98px) {
  .section-9__slider-controlls {
    width: 100%;
    justify-content: space-between;
    top: calc(var(--image-height) + 1.5rem + 1.5rem);
    transform: translateY(-50%);
    left: 0;
  }
}
.section-9__slider-controlls button {
  position: static;
  transform: translate(0) !important;
}

@media (min-width: 767.98px) {
  .works-slide {
    display: grid;
    gap: 10.25rem;
    grid-template-columns: 68% 1fr;
  }
}
@media (min-width: 767.98px) and (max-width: 1439.98px) {
  .works-slide {
    grid-template-columns: 64% 1fr;
    gap: 2rem;
  }
}
@media (min-width: 767.98px) and (max-width: 1099.98px) {
  .works-slide {
    grid-template-columns: 50% 1fr;
    gap: 1.375rem;
  }
}
.works-slide__left {
  position: relative;
}
.works-slide__image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 3px 11px 50px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .works-slide__image {
    padding-bottom: 58%;
  }
  .works-slide__image:not(:last-child) {
    margin-bottom: calc(1.5rem * 3);
  }
}
.works-slide__show-all {
  position: absolute;
  bottom: 1.5rem;
  left: 2rem;
  display: flex;
  gap: 0.625rem;
  align-items: center;
  border-radius: 4px !important;
  background: rgba(107, 187, 65, 0.6) !important;
  box-shadow: 2px 4px 25px 0px rgba(132, 192, 178, 0.2) !important;
}
@media (max-width: 1099.98px) {
  .works-slide__show-all {
    left: 1.5rem;
  }
}
@media (max-width: 767.98px) {
  .works-slide__show-all {
    bottom: 1rem;
    left: 1rem;
  }
}
.works-slide__show-all img {
  flex: 0 0 12px;
  width: 12px;
  height: 12px;
}
@media (min-width: 767.98px) {
  .works-slide__right {
    margin-bottom: 6.875rem;
  }
}
.works-slide__name {
  color: var(--color-white_grey);
}
.works-slide__name:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media (max-width: 1439.98px) {
  .works-slide__name:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 1099.98px) {
  .works-slide__name:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 767.98px) {
  .works-slide__name:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.works-slide__info-wrapper:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media (max-width: 1439.98px) {
  .works-slide__info-wrapper:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 1099.98px) {
  .works-slide__info-wrapper:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 767.98px) {
  .works-slide__info-wrapper:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.works-slide__info-line span {
  color: var(--color-green);
}
.works-slide__info-line:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media (max-width: 767.98px) {
  .works-slide__info-line:not(:last-child) {
    margin-bottom: 0.25rem;
  }
}