.section-8__text-wrapper:not(:last-child) {
  margin-bottom: 5rem;
}
@media (max-width: 1439.98px) {
  .section-8__text-wrapper:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media (max-width: 1099.98px) {
  .section-8__text-wrapper:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 767.98px) {
  .section-8__text-wrapper:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.section-8__slider {
  position: relative;
  z-index: 1;
}
.section-8__slider:not(:last-child) {
  margin-bottom: 5rem;
}
@media (max-width: 1439.98px) {
  .section-8__slider:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media (max-width: 1099.98px) {
  .section-8__slider:not(:last-child) {
    margin-bottom: 3rem;
  }
}
@media (max-width: 767.98px) {
  .section-8__slider:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.section-8__slider .splide__pagination {
  gap: 1rem;
}
@media (min-width: 767.98px) {
  .section-8__slider .splide__pagination {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .section-8__slider {
    padding-bottom: calc(1.5rem + 1rem);
  }
}
.section-8__slider-track {
  overflow: visible;
}
.section-8__slide {
  position: relative;
  padding: 2.5rem;
  border-radius: 8px;
  background-color: var(--color-dark_cards);
  box-shadow: 3px 11px 50px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1099.98px) {
  .section-8__slide {
    padding: 2rem;
  }
}
@media (max-width: 767.98px) {
  .section-8__slide {
    padding: 1.5rem;
  }
}
@media (min-width: 559.98px) {
  .section-8__slide {
    display: grid;
    grid-template-rows: 30% 1fr;
  }
}
@media (max-width: 356px) {
  .section-8__slide {
    display: grid;
    grid-template-rows: 30% 1fr;
  }
}
.section-8__slide::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(167, 197, 255, 0.5);
  filter: blur(100px);
  width: 30%;
  height: 30%;
  border-radius: 50%;
}
.section-8__item-top {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr;
}
.section-8__item-number {
  font-family: Raleway, sans-serif;
  color: rgba(189, 225, 231, 0.1);
  font-size: 6rem;
  line-height: 84%;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .section-8__item-number {
    font-size: 80px;
  }
}
.section-8__item-top-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.section-8__item-line {
  background: linear-gradient(270deg, rgba(239, 184, 118, 0.3) 0%, rgba(187, 144, 106, 0.3) 100%);
  width: 80%;
  height: 1px;
  margin-bottom: 1rem;
}
.section-8__item-center {
  position: relative;
}
.section-8__item-center--pr {
  padding-right: 2.625rem;
}
@media (max-width: 767.98px) {
  .section-8__item-center--pr {
    padding-right: 2rem;
  }
}
.section-8__item-image {
  width: 100%;
  padding-bottom: 100%;
}
.section-8__item-background-title {
  position: absolute;
  right: 0;
  bottom: 0;
  transform-origin: right;
  transform: rotate(90deg);
  color: var(--color-dark_grey);
  font-family: EBGaramond, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  white-space: nowrap;
}
.section-8__slider-controlls {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  position: absolute;
  z-index: 1;
  top: calc(100% + 4.75rem);
  right: 0;
}
@media (min-width: 1439.98px) {
  .section-8__slider-controlls {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .section-8__slider-controlls {
    display: none;
  }
}
.section-8__slider-controlls button {
  position: static;
}
.section-8__action {
  position: relative;
  display: flex;
  justify-content: center;
}
.section-8__action-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
@media (min-width: 1439.98px) {
  .section-8__action-text {
    display: none;
  }
}
@media (max-width: 1099.98px) {
  .section-8__action-text {
    display: none;
  }
}