.section-1__text-wrapper:not(:last-child) {
  margin-bottom: 5rem;
}
@media (max-width: 1439.98px) {
  .section-1__text-wrapper:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media (max-width: 1099.98px) {
  .section-1__text-wrapper:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 767.98px) {
  .section-1__text-wrapper:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.section-1__content-wrapper {
  display: grid;
  row-gap: 2rem;
  -moz-column-gap: 3.5rem;
       column-gap: 3.5rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1439.98px) {
  .section-1__content-wrapper {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
}
@media (max-width: 1099.98px) {
  .section-1__content-wrapper {
    row-gap: 1rem;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
@media (max-width: 767.98px) {
  .section-1__content-wrapper {
    grid-template-columns: 1fr;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
}
.section-1__content-wrapper:not(:last-child) {
  margin-bottom: 5rem;
}
@media (max-width: 1439.98px) {
  .section-1__content-wrapper:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media (max-width: 1099.98px) {
  .section-1__content-wrapper:not(:last-child) {
    margin-bottom: 3rem;
  }
}
@media (max-width: 767.98px) {
  .section-1__content-wrapper:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.section-1__card-img {
  margin-left: 4rem;
  padding-bottom: 46%;
  border-radius: 8px;
  box-shadow: 3px 11px 50px 0px rgba(13, 22, 27, 0.9);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
  overflow: hidden;
}
@media (max-width: 1099.98px) {
  .section-1__card-img {
    margin-left: 0;
  }
}
.section-1__card-text-wrapper {
  position: relative;
  z-index: 1;
  margin-right: 6.75rem;
  border-radius: 8px;
  background: var(--color-dark_cards);
  box-shadow: 3px 11px 50px 0px rgba(0, 0, 0, 0.25);
  padding: 2rem 2.5rem;
  margin-top: -2rem;
}
@media (max-width: 1439.98px) {
  .section-1__card-text-wrapper {
    padding: 1.75rem 2.5rem;
    margin-right: 6rem;
  }
}
@media (max-width: 1099.98px) {
  .section-1__card-text-wrapper {
    padding: 1.5rem 2rem;
    margin-right: 0;
    transform: scale(1.01);
  }
}
@media (max-width: 767.98px) {
  .section-1__card-text-wrapper {
    padding: 1.5rem;
  }
}
.section-1__card-title {
  color: var(--color-green);
}
.section-1__card-title:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media (max-width: 1439.98px) {
  .section-1__card-title:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767.98px) {
  .section-1__card-title:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}
.section-1__card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.section-1__card-text:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 1439.98px) {
  .section-1__card-text:not(:last-child) {
    margin-bottom: 1.75rem;
  }
}
@media (max-width: 1099.98px) {
  .section-1__card-text:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 767.98px) {
  .section-1__card-text:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.section-1__card-bottom {
  display: flex;
  align-items: center;
  gap: 5rem;
}
@media (max-width: 767.98px) {
  .section-1__card-bottom {
    gap: 2.5rem;
  }
}
.section-1__card-sep {
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, rgba(239, 184, 118, 0.3) 0%, rgba(187, 144, 106, 0.3) 100%);
}
.section-1__card-link {
  flex: 0 0 auto;
  white-space: nowrap;
}
.section-1__action {
  display: flex;
  justify-content: center;
}