$desktop: 1439.98px;
$desktopMiddle: 1239.98px;
$desktopLow: 1099.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileLow: 559.98px;
$mobileSmall: 479.98px;

@import '../variables';
@import '../mixins';

.footer {
	background-color: cl('dark_cards');

	&__container {
	}

	&__body {
	}

	&__top {
		display: flex;
		flex-wrap: wrap;
		row-gap: em(32);
		padding: em(80) 0;
		@media (max-width: $desktop) {
			padding: em(64) 0;
		}
		@media (max-width: $desktopMiddle) {
			padding: em(56) 0 em(38);
		}
		@media (max-width: $mobile) {
			padding: em(40) 0;
		}
		border-bottom: 1px solid rgba(189, 225, 231, 0.1);
	}

	&__logo {
		flex: 0 0 100px;
		height: 100px;
		margin-right: em(164);

		@media (max-width: $desktop) {
			flex: 0 0 88px;
			height: 88px;
			margin-right: em(244);
		}

		@media (max-width: $desktopMiddle) {
			margin-right: em(172);
		}

		@media (max-width: $desktopLow) {
			flex: 0 0 72px;
			height: 72px;
		}

		@media (max-width: $mobile) {
			flex: 0 0 64px;
			height: 64px;
		}
	}

	&__menu {
		display: flex;
		@media (min-width: $desktop) {
			gap: em(134);
		}
		margin-right: em(186);

		@media (max-width: $desktop) {
			flex-direction: column;
			gap: em(16);
			margin-right: em(123);
		}

		@media (max-width: $desktopMiddle) {
			margin-right: em(62);
		}

		@media (max-width: $mobileSmall) {
			width: 100%;
			margin-right: 0;
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: em(24);
		margin-right: auto;
	}

	&__info-item {
		display: flex;
		gap: em(16);
		align-items: center;

		span {
			@media (max-width: $desktopLow) {
				font-size: rem(14);
			}

			@media (max-width: $mobileSmall) {
				font-size: rem(12);
			}
		}

		&:hover {
			span {
				text-decoration: underline;
			}
		}
	}

	&__action {
		padding-right: em(32);
	}

	&__button {
		align-self: flex-start;
	}

	&__bottom {
		padding: em(56) 0;
		@media (max-width: $desktop) {
			padding: em(48) 0 em(52);
		}
		@media (max-width: $desktopMiddle) {
			padding: em(64) 0 em(46);
		}
		@media (max-width: $mobile) {
			padding: em(32) 0;
		}

		display: flex;
		align-items: center;
		gap: em(24);
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__bottom-copy {
		@media (max-width: $desktopLow) {
			font-size: rem(14);
		}

		@media (min-width: $mobile) {
			white-space: nowrap;
		}
	}

	&__bottom-policy {
		text-decoration: underline;
	
		@media (max-width: $desktopLow) {
			font-size: rem(14);
		}

		@media (min-width: $mobile) {
			white-space: nowrap;
		}

		&:hover {
			text-decoration: none;
		}
	}

	&__bottom-web {
		flex: 0 0 160px;
		height: 30px;

		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.menu-footer {
	&__list {
		@media (max-width: $mobileSmall) {
			max-width: 140px;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: em(16);
		}
	}

	&__link {
		@media (max-width: $desktopLow) {
			font-size: rem(14);
		}

		@media (max-width: $mobileSmall) {
			font-size: rem(12);
		}

		transition: color 0.3s ease;
		&:hover {
			color: cl('green');
		}
	}
}
