$desktop: 1439.98px;
$desktopLow: 1099.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileLow: 559.98px;
$mobileSmall: 479.98px;

@import '../variables';

.header {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;

	&__container {
	}

	&__body {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		gap: 32px;
		padding: 24px 0;

		@media (max-width: $desktop) {
			padding: 16px 0;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		gap: 40px;

		@media (max-width: $tablet) {
			gap: 24px;
		}
	}

	&__info-item {
		display: flex;
		align-items: center;
		gap: 8px;

		@media (max-width: $mobile) {
			gap: 16px;

			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}

		img {
			flex: 0 0 24px;
			aspect-ratio: 1;
		}

		span {
			color: cl('white_grey');
		}

		@media (min-width: $mobile) {
			&:last-child {
				span {
					@media (max-width: $desktop) {
						display: none;
					}
				}
			}

			&:nth-child(2) {
				span {
					@media (max-width: $desktopLow) {
						display: none;
					}
				}
			}
		}

		&--mobile {
			@media (min-width: $mobile) {
				display: none;
			}
		}

		&:hover {
			span {
				text-decoration: underline;
			}
		}
	}

	&__logo {
		width: 100px;
		aspect-ratio: 1;

		@media (max-width: $desktop) {
			width: 88px;
		}

		@media (max-width: $desktopLow) {
			width: 72px;
		}
	}

	&__actions {
		display: flex;
		justify-content: flex-end;
		gap: 56px;
		align-items: center;
	}

	&__button {
		.span--desktop {
			@media (max-width: $tablet) {
				display: none;
			}
		}

		.span--mobile {
			@media (min-width: $tablet) {
				display: none;
			}
		}
	}

	&__menu {
	}
}

.menu {
	position: relative;

	&__button {
		// --width: 40px;
		// --height: 24px;

		// width: var(--width);
		// height: var(--height);
		// position: relative;
		// transform: rotate(0deg);
		// transition: 0.5s ease-in-out;
		// cursor: pointer;

		// span {
		// 	display: block;
		// 	position: absolute;
		// 	height: 1px;
		// 	width: 50%;
		// 	background: cl('white_grey');
		// 	opacity: 1;
		// 	transform: rotate(0deg);
		// 	transition: 0.25s ease-in-out;

		// 	&:nth-child(even) {
		// 		left: 50%;
		// 		border-radius: 0 9px 9px 0;
		// 	}

		// 	&:nth-child(odd) {
		// 		left: 0px;
		// 		border-radius: 9px 0 0 9px;
		// 	}

		// 	&:nth-child(1),
		// 	&:nth-child(2) {
		// 		top: 0px;
		// 	}

		// 	&:nth-child(3),
		// 	&:nth-child(4) {
		// 		top: 50%px;
		// 	}

		// 	&:nth-child(5),
		// 	&:nth-child(6) {
		// 		top: calc(100% - 1px);
		// 	}
		// }

		// &.open {
		// 	span {
		// 		&:nth-child(1),
		// 		&:nth-child(6) {
		// 			transform: rotate(31deg);
		// 		}

		// 		&:nth-child(2),
		// 		&:nth-child(5) {
		// 			transform: rotate(-45deg);
		// 		}

		// 		&:nth-child(1) {
		// 			transform-origin: left;
		// 			left: 0;
		// 			top: 0;
		// 		}

		// 		&:nth-child(2) {
		// 			left: calc(50% - 5px);
		// 			top: 7px;
		// 		}

		// 		&:nth-child(3) {
		// 			left: -50%;
		// 			opacity: 0;
		// 		}

		// 		&:nth-child(4) {
		// 			left: 100%;
		// 			opacity: 0;
		// 		}

		// 		&:nth-child(5) {
		// 			left: 5px;
		// 			top: 29px;
		// 		}

		// 		&:nth-child(6) {
		// 			left: calc(50% - 5px);
		// 			top: 29px;
		// 		}
		// 	}
		// }

		position: relative;
		width: 40px;
		height: 24px;

		@media (max-width: $desktopLow) {
			width: 32px;
			height: 16px;
		}

		display: flex;
		justify-content: center;
		align-items: center;

		&.open {
			width: 24px;

			@media (max-width: $desktopLow) {
				width: 24px;
				height: 24px;
			}
		}

		img {
			&:last-child {
				display: none;
			}
		}

		&.open {
			img {
				&:first-child {
					display: none;
				}

				&:last-child {
					display: block;
				}
			}
		}
	}

	&__body {
		overflow: auto;

		@media (min-width: $mobileLow) {
			&:not(.open &) {
				display: none;
			}

			position: absolute;
			right: 0;
			top: calc(100% + 4px);
			box-shadow: 3px 11px 50px 0px rgba(0, 0, 0, 0.25);
		}
		background: cl('dark_cards');
		padding: 32px 40px;

		@media (max-width: $tablet) {
			min-width: 60vw;
		}

		@media (max-width: $mobileLow) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			padding: 24px 16px;
			transform: translateX(100%);
			transition: all 0.3s ease;

			.open & {
				transform: translateX(0);
			}
		}
	}

	&__body-top {
		@media (max-width: $mobileLow) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	&__close {
		@media (min-width: $mobileLow) {
			display: none;
		}
	}

	&__logo {
		@media (min-width: $mobile) {
			display: none;
		}

		width: 56px;
		aspect-ratio: 1;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__list {
		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__link {
		white-space: nowrap;
		transition: color 0.3s ease;

		&:hover {
			color: cl('green');
		}
	}

	&__body-center {
		@media (max-width: $mobile) {
			&:not(:last-child) {
				padding-bottom: 32px;
				margin-bottom: 32px;
				border-bottom: 1px solid rgba(189, 225, 231, 0.1);
			}
		}
	}

	&__bottom-mobile {
		@media (min-width: $mobile) {
			display: none;
		}
	}
}
