$desktop: 1439.98px;
$desktopLow: 1099.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileLow: 559.98px;
$mobileSmall: 479.98px;

@import '../mixins';

.header {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;

	&__container {
	}

	&__body {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		gap: rem(32);
		padding: rem(24) 0;

		@media (max-width: $desktop) {
			padding: rem(16) 0;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		gap: rem(40);

		@media (max-width: $tablet) {
			gap: rem(24);
		}
	}

	&__info-item {
		display: flex;
		align-items: center;
		gap: rem(8);

		@media (max-width: $mobile) {
			gap: rem(16);

			&:not(:last-child) {
				margin-bottom: rem(24);
			}
		}

		img {
			flex: 0 0 24px;
			aspect-ratio: 1;
		}

		span {
			color: cl('white_grey');
		}

		@media (min-width: $mobile) {
			&:last-child {
				span {
					@media (max-width: $desktop) {
						display: none;
					}
				}
			}

			&:nth-child(2) {
				span {
					@media (max-width: $desktopLow) {
						display: none;
					}
				}
			}
		}

		&--mobile {
			@media (min-width: $mobile) {
				display: none;
			}
		}

		&:hover {
			span {
				text-decoration: underline;
			}
		}
	}

	&__logo {
		width: 100px;
		aspect-ratio: 1;

		@media (max-width: $desktop) {
			width: 88px;
		}

		@media (max-width: $desktopLow) {
			width: 72px;
		}
	}

	&__actions {
		display: flex;
		justify-content: flex-end;
		gap: rem(56);
		align-items: center;
	}

	&__button {
		position: relative;
		z-index: 1;

		.span--desktop {
			@media (max-width: $tablet) {
				display: none;
			}
		}

		.span--mobile {
			@media (min-width: $tablet) {
				display: none;
			}
		}
	}

	&__menu {
	}
}

.menu {
	position: relative;

	&__button {
		position: relative;
		width: 40px;
		height: 24px;

		@media (max-width: $desktopLow) {
			width: 32px;
			height: 16px;
		}

		display: flex;
		justify-content: center;
		align-items: center;

		img {
			&:last-child {
				display: none;
			}
		}

		.menu-open & {
			img {
				&:first-child {
					display: none;
				}

				&:last-child {
					display: block;
				}
			}
		}
	}

	&__body {
		overflow: auto;

		@media (min-width: $mobileLow) {
			&:not(.menu-open &) {
				display: none;
			}

			position: absolute;
			right: 0;
			top: calc(100% + rem(20));
			box-shadow: 3px 11px 50px 0px rgba(0, 0, 0, 0.25);
		}
		background: cl('dark_cards');
		padding: rem(32) rem(40);

		@media (max-width: $tablet) {
			min-width: 60vw;
		}

		@media (max-width: $mobileLow) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			padding: rem(24) rem(16);
			transform: translateX(100%);
			transition: all 0.3s ease;

			.menu-open & {
				transform: translateX(0);
			}
		}
	}

	&__body-top {
		@media (min-width: $mobile) {
			display: none;
		}

		@media (max-width: $mobileLow) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&:not(:last-child) {
			margin-bottom: rem(32);
		}
	}

	&__close {
		@media (min-width: $mobileLow) {
			display: none;
		}
	}

	&__logo {
		@media (min-width: $mobile) {
			display: none;
		}

		width: 56px;
		aspect-ratio: 1;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__list {
		&:not(:last-child) {
			margin-bottom: rem(32);
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	&__link {
		white-space: nowrap;
		transition: color 0.3s ease;

		&:hover {
			color: cl('green');
		}
	}

	&__body-center {
		@media (max-width: $mobile) {
			&:not(:last-child) {
				padding-bottom: rem(32);
				margin-bottom: rem(32);
				border-bottom: 1px solid rgba(189, 225, 231, 0.1);
			}
		}
	}

	&__bottom-mobile {
		@media (min-width: $mobile) {
			display: none;
		}
	}
}
