$desktop: 1439.98px;
$desktopLow: 1099.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileLow: 559.98px;
$mobileSmall: 479.98px;

.intro {
	&__body {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
	}

	&__logo,
	&__logo-mask {
		--width: 100px;

		@media (max-width: $desktop) {
			--width: 88px;
		}

		@media (max-width: $desktopLow) {
			--width: 72px;
		}

		@media (max-width: $mobile) {
			--width: 64px;
		}

		position: absolute;
		top: calc(50% - (var(--width) / 2));
		left: calc(50% - (var(--width) / 2));
		transform: scale(2.2);

		width: var(--width);
		aspect-ratio: 1;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__logo {
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			clip-path: circle(42%);
		}
	}

	&__logo-mask {
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			clip-path: circle(54%);
		}

		animation: spin 1.4s linear infinite;

		&.loaded {
			animation: spin 1.4s linear 1;
		}
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg) scale(2.2);
	}

	to {
		transform: rotate(360deg) scale(2.2);
	}
}
