$desktop: 1439.98px;
$desktopLow: 1099.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileLow: 559.98px;
$mobileSmall: 479.98px;

@import '../variables';

.main-block {
	padding-bottom: 82px;
	@media (max-width: $desktop) {
		padding-bottom: 56px;
	}
	@media (max-width: $desktopLow) {
		padding-bottom: 40px;
	}
	@media (max-width: $mobile) {
		padding-bottom: 24px;
	}

	&__slider {
	}

	&__container {
	}

	&__body {
		padding: 80px 0;
		@media (max-width: $desktop) {
			padding: 64px 0;
		}
		@media (max-width: $desktopLow) {
			padding: 40px 0;
		}
	}

	&__benefits {
		display: grid;
		gap: 16px;
		row-gap: 32px;
		grid-template-columns: repeat(4, 1fr);
		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__benefit {
		cursor: pointer;

		@media (min-width: $mobile) {
			&:not(:last-child) {
				padding-right: 16px;
				border-right: 1px solid rgba(189, 225, 231, 0.1);
			}
		}

		display: flex;
		flex-direction: column;
		gap: 24px;
		@media (max-width: $desktopLow) {
			gap: 16px;
		}
		align-items: center;
		justify-content: center;

		&:hover {
			.static {
				display: none;
			}

			.hover {
				display: block;
			}

			.main-block__benefit-text {
				color: cl('green');
			}
		}
	}

	&__benefit-icon {
		width: 56px;
		aspect-ratio: 1;

		@media (max-width: $desktopLow) {
			width: 40px;
			height: 40px;
		}

		.hover {
			display: none;
		}

		img {
			object-fit: fill;
		}
	}

	&__benefit-text {
		text-align: center;
	}
}

.main-slider {
	.splide__pagination {
		bottom: 52px;
		gap: 24px;

		li {
			button.is-active {
				position: relative;
				background-color: cl('white_grey');

				&::after {
					content: '';
					position: absolute;
					top: calc((16px - 8px) / 2 * -1);
					left: calc((16px - 8px) / 2 * -1);
					width: 16px;
					height: 16px;
					border-radius: 50%;
					background-color: transparent;
					border: 1px solid cl('white_grey');
				}
			}

			button {
				width: 8px;
				height: 8px;
				background-color: cl('green');
				transform: scale(1);
			}
		}
	}

	&__track {
	}

	&__list {
	}

	&__slide {
	}

	&__slide-body {
		position: relative;
		min-height: 100vh;
	}

	&__slide-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__content-wrapper {
		position: relative;
		z-index: 5;
		padding: 0 14px;
		min-height: 100vh;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__slide-title {
		text-align: center;
		color: cl('white_grey');

		span {
			color: cl('green');
		}

		&:not(:last-child) {
			margin-bottom: 40px;

			@media (max-width: $desktop) {
				margin-bottom: 16px;
			}

			@media (max-width: $mobile) {
				margin-bottom: 24px;
			}
		}
	}

	&__slide-subtitle {
		text-align: center;
		color: cl('white_grey');

		&:not(:last-child) {
			margin-bottom: 56px;

			@media (max-width: $desktop) {
				margin-bottom: 32px;
			}
		}
	}

	&__people-bg {
		@media (max-width: $mobile) {
			display: none;
		}

		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 90%;
		aspect-ratio: 676 / 834;
	}

	&__slide-button {
	}

	&__controlls {
		@media (max-width: $mobile) {
			display: none;
		}
	}

	&__arrow {
		width: 80px;
		height: 80px;
		border-radius: 4px 0px 0px 4px;
		background: rgba(174, 174, 174, 0.2);
		backdrop-filter: blur(4px);

		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 32px;
			height: 32px;
		}
	}

	&__arrow-prev {
		left: 0;
	}

	&__arrow-next {
		right: 0;
	}
}
