$desktop: 1439.98px;
$desktopLow: 1099.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileLow: 559.98px;
$mobileSmall: 479.98px;

@import '../variables';
@import '../mixins';

.section-6 {
	&__container {
	}

	&__body {
	}

	&__text-wrapper {
		margin-bottom: em(80);

		@media (max-width: $desktop) {
			margin-bottom: em(64);
		}
		@media (max-width: $desktopLow) {
			margin-bottom: em(50);
		}
		@media (max-width: $mobile) {
			margin-bottom: em(32);
		}
	}

	&__title {
	}

	&__subtitle {
	}

	&__text {
	}

	&__content {
		position: relative;
		padding: em(155) 0 em(120);

		@media (max-width: $desktop) {
			padding: em(120) 0 em(80);
		}
		@media (max-width: $desktopLow) {
			padding: em(56) 0 em(64);
		}
		@media (max-width: $mobile) {
			padding: em(48) 0 em(40);
		}

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__inner-form {
		&:not(:last-child) {
			margin-bottom: em(86);

			@media (max-width: $desktop) {
				margin-bottom: em(64);
			}
			@media (max-width: $desktopLow) {
				margin-bottom: em(40);
			}
			@media (max-width: $mobile) {
				margin-bottom: em(24);
			}
		}
	}

	&__action {
		display: flex;
		justify-content: center;
	}

	&__background {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.inner-form {
	padding: em(32) em(40);
	border-radius: 8px;
	background-color: cl('dark_cards');
	box-shadow: 3px 11px 50px 0px rgba(0, 0, 0, 0.25);
	max-width: 760px;

	@media (max-width: $desktop) {
		max-width: 632px;
	}

	@media (max-width: $desktopLow) {
		padding: em(32) em(32) em(49);
	}

	@media (max-width: $mobile) {
		padding: em(24) em(24) em(54);
	}

	@media (max-width: $mobileLow) {
		width: 290px;
	}

	&__wrapper {
	}

	&__tabs {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		overflow: auto;

		@media (max-width: $mobileLow) {
			padding-bottom: em(8);
		}

		&:not(:last-child) {
			margin-bottom: em(32);

			@media (max-width: $desktopLow) {
				margin-bottom: em(24);
			}

			@media (max-width: $mobile) {
				margin-bottom: em(16);
			}
		}
	}

	&__tab {
		font-size: rem(16);
		font-weight: 400;

		@media (max-width: $desktopLow) {
			font-size: rem(14);
		}

		@media (max-width: $mobile) {
			font-size: rem(12);
			gap: em(24);
		}
	}

	&__text {
		&:not(:last-child) {
			margin-bottom: em(24);

			@media (max-width: $desktopLow) {
				margin-bottom: em(16);
			}
			@media (max-width: $mobile) {
				margin-bottom: em(12);
			}
		}
	}

	&__list {
	}

	&__list-title {
		color: cl('wwhite_grey');

		&:not(:last-child) {
			margin-bottom: em(24);

			@media (max-width: $desktop) {
				margin-bottom: em(16);
			}
			@media (max-width: $mobile) {
				margin-bottom: em(12);
			}
		}
	}

	&__list-body {
	}

	&__list-item {
		display: flex;
		gap: em(24);
		align-items: center;

		&::before {
			content: "";
			width: 8px;
			height: 8px;
			background-color: cl('white_grey');
			transform: rotate(45deg);
		}
	}
}
