$desktop: 1439.98px;
$desktopLow: 1099.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileLow: 559.98px;
$mobileSmall: 479.98px;

@import '../mixins';

.section-4 {
	&__container {
	}

	&__body {
	}

	&__text-wrapper {
		&:not(:last-child) {
			margin-bottom: rem(80);

			@media (max-width: $desktop) {
				margin-bottom: rem(64);
			}

			@media (max-width: $desktopLow) {
				margin-bottom: rem(50);
			}

			@media (max-width: $mobile) {
				margin-bottom: rem(64);
			}
		}
	}

	&__title {
	}

	&__subtitle {
	}

	&__text {
	}

	&__row {
		display: grid;
		column-gap: rem(32);
		row-gap: rem(32);
		grid-template-columns: repeat(4, 1fr);

		@media (max-width: $desktopLow) {
			column-gap: rem(16);
		}

		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}

		&:not(:last-child) {
			margin-bottom: rem(80);

			@media (max-width: $desktop) {
				margin-bottom: rem(64);
			}

			@media (max-width: $desktopLow) {
				margin-bottom: rem(50);
			}

			@media (max-width: $mobile) {
				margin-bottom: rem(32);
			}
		}
	}

	&__item {
		cursor: pointer;

		&:hover {
			.static {
				display: none;
			}

			.hover {
				display: block;
			}

			.section-4__item-text {
				color: cl('green');
			}

			.section-4__item-title {
				color: cl('green');
			}
		}
	}

	&__item-icon {
		width: 56px;
		aspect-ratio: 1;

		&:not(:last-child) {
			margin-bottom: rem(32);

			@media (max-width: $desktopLow) {
				margin-bottom: rem(16);
			}
		}

		img {
			object-fit: fill;
		}

		.hover {
			display: none;
		}

		@media (max-width: $desktopLow) {
			width: 56px;
		}

		@media (max-width: $mobile) {
			width: 40px;
		}
	}

	&__item-title {
		color: cl('white_grey');

		&:not(:last-child) {
			margin-bottom: rem(16);

			@media (max-width: $desktopLow) {
				margin-bottom: rem(8);
			}
		}
	}

	&__item-text {
	}

	&__action {
	}

	&__button {
	}
}
