$desktop: 1439.98px;
$desktopLow: 1099.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileLow: 559.98px;
$mobileSmall: 479.98px;

@import '../mixins';

.section-10 {
	&__container {
	}

	&__body {
	}

	&__text-wrapper {
		&:not(:last-child) {
			margin-bottom: rem(80);

			@media (max-width: $desktop) {
				margin-bottom: rem(64);
			}
			@media (max-width: $desktopLow) {
				margin-bottom: rem(50);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(32);
			}
		}
	}

	&__title {
	}

	&__subtitle {
	}

	&__text {
	}

	&__slider {
		position: relative;
		z-index: 1;

		&:not(:last-child) {
			margin-bottom: rem(80);

			@media (max-width: $desktop) {
				margin-bottom: rem(64);
			}
			@media (max-width: $desktopLow) {
				margin-bottom: rem(48);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(24);
			}
		}

		.splide__pagination {
			gap: 16px;

			@media (min-width: $mobile) {
				display: none;
			}
		}

		@media (max-width: $mobile) {
			padding-bottom: calc(rem(24) + rem(16));
		}
	}

	&__slider-track {
		position: relative;
		overflow: visible;

		.section-10__slider-controlls {
			opacity: 0;
			visibility: hidden;
		}
	}

	&__slider-list {
		
	}

	&__slide {
		position: relative;
		padding: rem(40);
		border-radius: 8px;
		background-color: cl('dark_cards');
		box-shadow: 3px 11px 50px 0px rgba(0, 0, 0, 0.25);

		@media (max-width: $desktopLow) {
			padding: rem(32);
		}

		@media (max-width: $mobile) {
			padding: rem(24);
		}

		display: flex;
		flex-direction: column;
		gap: rem(24);

		@media (max-width: $desktopLow) {
			gap: rem(16);
		}
	}

	&__slider-controlls {
		@media (max-width: $mobile) {
			display: none;
		}

		display: flex;
		align-items: center;
		gap: rem(40);

		button {
			position: static;
			transform: translate(0);
		}
	}

	&__action-wrapper {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(36);
		justify-content: space-between;

		@media (max-width: $mobile) {
			justify-content: center;
		}
	}

	&__actions {
		display: flex;
		gap: rem(40);
		align-items: center;

		@media (max-width: $mobile) {
			gap: rem(16);
			flex-direction: column;
		}
	}

	&__action-text {
		@media (max-width: $mobile) {
			text-align: center;
		}
	}

	&__button {
	}
}

.feedback-slide {
	&__title {
		color: cl('white_grey');

		@media (max-width: $desktop) {
			font-size: rem(20);
		}

		@media (max-width: $desktopLow) {
			font-size: rem(16);
		}
	}

	&__value-wrapper {
		display: flex;
		gap: rem(4);
		align-items: center;

		img {
			flex: 0 0 24px;
			width: 24px;
			height: 24px;

			@media (max-width: $desktopLow) {
				flex: 0 0 20px;
				width: 20px;
				height: 20px;
			}

			@media (max-width: $mobile) {
				flex: 0 0 16px;
				width: 16px;
				height: 16px;
			}
		}
	}

	&__text {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;

		@media (max-width: $desktop) {
			-webkit-line-clamp: 2;
		}
	}

	&__photos {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(8);
	}

	&__photos-imgs {
		display: flex;
		flex-wrap: wrap;
		gap: rem(8);

		img {
			flex: 0 0 72px;
			width: 72px;
			height: 72px;

			@media (max-width: $desktop) {
				flex: 0 0 56px;
				width: 56px;
				height: 56px;
			}

			@media (max-width: $desktopLow) {
				flex: 0 0 64px;
				width: 64px;
				height: 64px;
			}

			@media (max-width: $mobile) {
				flex: 0 0 38px;
				width: 38px;
				height: 38px;
			}
		}
	}

	&__photos-more {
		color: cl('green');

		@media (max-width: $desktop) {
			font-size: 14px;
		}
	}

	&__bottom {
		display: flex;
		gap: rem(16);
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;

		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__more {
	}

	&__author-wrapper {
		display: flex;
		gap: rem(8);
		flex-direction: column;
		align-items: flex-end;

		@media (max-width: $mobile) {
			align-items: flex-start;
		}
	}

	&__author-name {
		color: cl('white_grey') !important;
	}

	&__author-time {
	}
}
