$desktop: 1439.98px;
$desktopLow: 1099.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileLow: 559.98px;
$mobileSmall: 479.98px;

@import '../variables';

.section-7 {
	&__container {
	}

	&__body {
		position: relative;
		padding-right: 84px;

		@media (max-width: $desktop) {
			padding-right: 64px;
		}

		@media (min-width: $desktopLow) {
			display: grid;
			grid-template-columns: 50% 1fr;
			gap: 32px;
		}

		@media (max-width: $desktopLow) {
			padding-right: 0;
		}
	}

	&__content {
		
	}

	&__text-wrapper {
		&:not(:last-child) {
			margin-bottom: 64px;

			@media (max-width: $desktopLow) {
				margin-bottom: 48px;
			}
			@media (max-width: $mobile) {
				margin-bottom: 32px;
			}
		}
	}

	&__title {
	}

	&__subtitle {
	}

	&__text {
		
	}

	&__row {
		display: grid;
		gap: 32px;
		grid-template-columns: repeat(3, 1fr);

		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
			gap: 16px;
		}

		&:not(:last-child) {
			margin-bottom: 80px;

			@media (max-width: $desktop) {
				margin-bottom: 64px;
			}
			@media (max-width: $desktopLow) {
				margin-bottom: 48px;
			}
			@media (max-width: $mobile) {
				margin-bottom: 32px;
			}
		}
	}

	&__item {
		cursor: pointer;

		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&:hover {
			.static {
				display: none;
			}

			.hover {
				display: block;
			}

			.section-7__item-text {
				color: cl('green');
			}
		}
	}

	&__item-icon {
		width: 48px;
		aspect-ratio: 1;

		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: $mobile) {
			width: 40px;
		}

		img {
			object-fit: fill;
		}

		.hover {
			display: none;
		}

		&:not(:last-child) {
			margin-bottom: 24px;

			@media (max-width: $mobile) {
				margin-bottom: 16px;
			}
		}
	}

	&__item-text {
		@media (max-width: $mobile) {
			text-align: center;
		}
	}

	&__action {
		@media (max-width: $mobile) {
			display: flex;
			justify-content: center;
		}
	}

	&__button {
	}

	&__image {
		@media (max-width: $desktopLow) {
			display: none;
		}

		border-radius: 8px;
		overflow: hidden;

		width: 100%;
		margin: 10% 0;
	}

	&__background-title {
		@media (max-width: $desktopLow) {
			display: none;
		}

		position: absolute;
		top: 0;
		left: 100%;
		height: 100%;
		width: 46px;
	}
}
