$desktop: 1439.98px;
$desktopLow: 1099.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileLow: 559.98px;
$mobileSmall: 479.98px;

@import '../mixins';

.section-11 {
	&__container {
	}

	&__body {
	}

	&__text-wrapper {
		&:not(:last-child) {
			margin-bottom: rem(80);

			@media (max-width: $desktop) {
				margin-bottom: rem(64);
			}
			@media (max-width: $desktopLow) {
				margin-bottom: rem(50);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(32);
			}
		}
	}

	&__title {
	}

	&__subtitle {
	}

	&__row {
		@media (min-width: $mobile) {
			display: grid;
			gap: rem(32);
			grid-template-columns: repeat(2, 1fr);

			@media (max-width: $desktopLow) {
				gap: rem(16);
			}
		}
	}

	&__col {
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: rem(12);
			}
		}
	}

	&__accordion {
		&:not(:last-child) {
			margin-bottom: rem(32);

			@media (max-width: $desktop) {
				margin-bottom: rem(24);
			}

			@media (max-width: $desktopLow) {
				margin-bottom: rem(16);
			}
		}
	}
}
