$desktop: 1439.98px;
$desktopLow: 1099.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileLow: 559.98px;
$mobileSmall: 479.98px;

@import '../mixins';

.section-9 {
	&__container {
	}

	&__body {
	}

	&__text-wrapper {
		&:not(:last-child) {
			margin-bottom: rem(80);

			@media (max-width: $desktop) {
				margin-bottom: rem(64);
			}
			@media (max-width: $desktopLow) {
				margin-bottom: rem(50);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(32);
			}
		}
	}

	&__title {
	}

	&__subtitle {
	}

	&__text {
		max-width: 1156px;
		@media (max-width: $desktop) {
			max-width: 1010px;
		}
	}

	&__content {
	}

	&__tabs {
	}

	&__tabs-navigation {
		@media (max-width: $mobile) {
			position: relative;
			z-index: 1;

			display: flex;
			align-items: center;
			justify-content: space-between;

			overflow: auto;

			&::-webkit-scrollbar {
				width: 0;
			}

			&::-webkit-scrollbar-track {
				background: transparent;
			}

			&::-webkit-scrollbar-thumb {
				background-color: transparent;
				border: 0;
			}
		}

		&:not(:last-child) {
			margin-bottom: rem(56);

			@media (max-width: $desktop) {
				margin-bottom: rem(32);
			}
			@media (max-width: $desktopLow) {
				margin-bottom: rem(24);
			}
		}
	}

	&__tabs-title {
		white-space: nowrap;

		@media (max-width: $desktopLow) {
			font-size: 16px !important;
		}
	}

	&__tabs-content {
	}

	&__tabs-body {
	}

	&__slider {
		.splide__pagination {
			display: none;
		}
	}

	&__slider-track {
		position: relative;
	}

	&__slider-list {
	}

	&__slide {
	}

	&__slider-controlls {
		position: absolute;

		@media (min-width: $mobile) {
			bottom: 0;
			left: calc(68% + rem(164));

			@media (max-width: $desktop) {
				left: calc(64% + rem(32));
			}

			@media (max-width: $desktopLow) {
				left: calc(50% + rem(22));
			}
		}

		@media (max-width: $mobile) {
			width: 100%;
			justify-content: space-between;
			top: calc(var(--image-height) + rem(24) + rem(24));
			transform: translateY(-50%);
			left: 0;
		}

		display: flex;
		gap: rem(40);
		align-items: center;

		button {
			position: static;
			transform: translate(0) !important;
		}
	}
}

.works-slide {
	@media (min-width: $mobile) {
		display: grid;
		gap: rem(164);
		grid-template-columns: 68% 1fr;

		@media (max-width: $desktop) {
			grid-template-columns: 64% 1fr;
			gap: rem(32);
		}

		@media (max-width: $desktopLow) {
			grid-template-columns: 50% 1fr;
			gap: rem(22);
		}
	}

	&__left {
		position: relative;
	}

	&__image {
		width: 100%;
		height: 100%;
		border-radius: 8px;
		box-shadow: 3px 11px 50px 0px rgba(0, 0, 0, 0.25);
		overflow: hidden;

		@media (max-width: $mobile) {
			padding-bottom: 58%;

			&:not(:last-child) {
				margin-bottom: calc(rem(24) * 3);
			}
		}
	}

	&__show-all {
		position: absolute;
		bottom: rem(24);
		left: rem(32);

		@media (max-width: $desktopLow) {
			left: rem(24);
		}

		@media (max-width: $mobile) {
			bottom: rem(16);
			left: rem(16);
		}

		display: flex;
		gap: rem(10);
		align-items: center;

		border-radius: 4px !important;
		background: rgba(107, 187, 65, 0.6) !important;
		box-shadow: 2px 4px 25px 0px rgba(132, 192, 178, 0.2) !important;

		img {
			flex: 0 0 12px;
			width: 12px;
			height: 12px;
		}
	}

	&__right {
		@media (min-width: $mobile) {
			margin-bottom: rem(110);
		}
	}

	&__name {
		color: cl('white_grey');

		&:not(:last-child) {
			margin-bottom: rem(40);

			@media (max-width: $desktop) {
				margin-bottom: rem(32);
			}
			@media (max-width: $desktopLow) {
				margin-bottom: rem(24);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(16);
			}
		}
	}

	&__info-wrapper {
		&:not(:last-child) {
			margin-bottom: rem(40);

			@media (max-width: $desktop) {
				margin-bottom: rem(32);
			}
			@media (max-width: $desktopLow) {
				margin-bottom: rem(24);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(16);
			}
		}
	}

	&__info-line {
		span {
			color: cl('green');
		}

		&:not(:last-child) {
			margin-bottom: rem(8);

			@media (max-width: $mobile) {
				margin-bottom: rem(4);
			}
		}
	}

	&__button {
	}
}
