$desktop: 1439.98px;
$desktopLow: 1099.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileLow: 559.98px;
$mobileSmall: 479.98px;

@import '../mixins';

.section-6 {
	&__container {
	}

	&__body {
	}

	&__text-wrapper {
		margin-bottom: rem(80);

		@media (max-width: $desktop) {
			margin-bottom: rem(64);
		}
		@media (max-width: $desktopLow) {
			margin-bottom: rem(50);
		}
		@media (max-width: $mobile) {
			margin-bottom: rem(32);
		}
	}

	&__title {
	}

	&__subtitle {
	}

	&__text {
	}

	&__content {
		position: relative;
		padding: rem(155) 0 rem(120);

		@media (max-width: $desktop) {
			padding: rem(120) 0 rem(80);
		}
		@media (max-width: $desktopLow) {
			padding: rem(56) 0 rem(64);
		}
		@media (max-width: $mobile) {
			padding: rem(48) 0 rem(40);
		}

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__inner-form {
		&:not(:last-child) {
			margin-bottom: rem(86);

			@media (max-width: $desktop) {
				margin-bottom: rem(64);
			}
			@media (max-width: $desktopLow) {
				margin-bottom: rem(40);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(24);
			}
		}
	}

	&__action {
		display: flex;
		justify-content: center;
	}

	&__background {
		position: absolute !important;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.inner-form {
	--height: 394px;
	--padding-top: 2rem;
	--padding-x: 2.5rem;
	--padding-bottom: 3.75rem;
	--navigation-margin-bottom: 2rem;
	--scroll-width: 0.25rem;

	padding: var(--padding-top) calc(var(--padding-x) - var(--scroll-width)) var(--padding-bottom) var(--padding-x);
	border-radius: 8px;
	background-color: cl('dark_cards');
	box-shadow: 3px 11px 50px 0px rgba(0, 0, 0, 0.25);
	max-width: 760px;
	height: var(--height);
	overflow: hidden;

	@media (max-width: $desktop) {
		--height: 386px;
		max-width: 632px;
	}

	@media (max-width: $desktopLow) {
		--height: 336px;
		--padding-top: 2rem;
		--padding-x: 2rem;
		--padding-bottom: 3.0625rem;
		--navigation-margin-bottom: 1.5rem;
	}

	@media (max-width: $mobile) {
		--height: 312px;
		--padding-top: 1.5rem;
		--padding-x: 1.5rem;
		--padding-bottom: 3.375rem;
		--navigation-margin-bottom: 1rem;
	}

	@media (max-width: $mobileLow) {
		width: 290px;
	}

	&__wrapper {
	}

	&__tabs {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		overflow: auto;

		&:not(:last-child) {
			margin-bottom: var(--navigation-margin-bottom);
		}

		&::-webkit-scrollbar {
			width: 0;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: transparent;
			border-radius: 20px;
			border: 0;
		}
	}

	&__tab-body {
		position: relative;
		z-index: 1;
		padding-right: var(--scroll-width);
		overflow: auto;

		max-height: calc(
			var(--height) -
				(
					var(--padding-top) + var(--padding-bottom) + var(--navigation-margin-bottom) +
						var(--navigation-height)
				)
		);

		&::-webkit-scrollbar {
			width: var(--scroll-width); /* ширина всей полосы прокрутки */
		}

		&::-webkit-scrollbar-track {
			background: transparent; /* цвет зоны отслеживания */
		}

		&::-webkit-scrollbar-thumb {
			background-color: cl('white_grey');
			border-radius: 20px;
		}

		scrollbar-width: thin;
		scrollbar-color: cl('white_grey') cl('white_grey');
	}

	&__tab-content {
	}

	&__tab {
		font-size: rem(16) !important;
		font-weight: 400;

		@media (max-width: $desktopLow) {
			font-size: rem(14) !important;
		}

		@media (max-width: $mobile) {
			font-size: rem(12) !important;
			gap: rem(24);
		}
	}

	&__text {
		&:not(:last-child) {
			margin-bottom: rem(24);

			@media (max-width: $desktopLow) {
				margin-bottom: rem(16);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(12);
			}
		}
	}

	&__list {
	}

	&__list-title {
		color: cl('wwhite_grey') !important;

		&:not(:last-child) {
			margin-bottom: rem(24);

			@media (max-width: $desktop) {
				margin-bottom: rem(16);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(12);
			}
		}
	}

	&__list-body {
	}

	&__list-item {
		display: flex;
		gap: rem(24);
		align-items: center;

		&::before {
			content: '';
			width: 8px;
			height: 8px;
			background-color: cl('white_grey');
			transform-origin: bottom right;
			transform: rotate(45deg);
		}

		&:not(:last-child) {
			margin-bottom: rem(8);

			@media (max-width: $mobile) {
				margin-bottom: rem(6);
			}
		}
	}
}
