$desktop: 1439.98px;
$desktopLow: 1099.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileLow: 559.98px;
$mobileSmall: 479.98px;

@import '../variables';

.section-5 {
	&__container {
	}

	&__body {
		@media (min-width: $mobile) {
			display: grid;
			grid-template-columns: 40% 1fr;
			gap: 164px;

			@media (max-width: $desktop) {
				gap: 36px;
				grid-template-columns: 48% 1fr;
			}

			@media (max-width: $desktopLow) {
				gap: 16px;
			}
		}
	}

	&__content {
	}

	&__text-wrapper {
		&:not(:last-child) {
			margin-bottom: 80px;

			@media (max-width: $desktop) {
				margin-bottom: 72px;
			}
			@media (max-width: $desktopLow) {
				margin-bottom: 50px;
			}
			@media (max-width: $mobile) {
				margin-bottom: 32px;
			}
		}
	}

	&__title {
	}

	&__subtitle {
	}

	&__text {
		span {
			font-weight: 700;
			font-size: 18px;

			@media (max-width: $desktopLow) {
				font-size: 16px;
			}

			@media (max-width: $mobile) {
				font-size: 14px;
			}
		}
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 32px;
		@media (max-width: $mobile) {
			gap: 16px;
		}

		&:not(:last-child) {
			margin-bottom: 80px;
			@media (max-width: $desktop) {
				margin-bottom: 64px;
			}
			@media (max-width: $desktopLow) {
				margin-bottom: 48px;
			}
			@media (max-width: $mobile) {
				margin-bottom: 32px;
			}
		}
	}

	&__item {
	}

	&__item-icon {
		width: 48px;
		height: 48px;

		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: $mobile) {
			width: 40px;
			height: 40px;
		}

		&:not(:last-child) {
			margin-bottom: 24px;

			@media (max-width: $desktopLow) {
				margin-bottom: 16px;
			}
		}
	}

	&__item-text {
	}

	&__action {
	}

	&__button {
	}

	&__image {
		border-radius: 8px;
		box-shadow: 3px 11px 50px 0px rgba(0, 0, 0, 0.25);
		overflow: hidden;

		img {
			transform: scale(1.26);
		}
	}
}
